<!doctype html>
<html>
<head>
    <title>Qunar管理员后台</title>
    <meta name="keywords" content="Qunar管理员后台">
    <meta name="description" content="Qunar管理员后台">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="http://q.qunarzz.com/piao_tts/prd/styles/v2/new@ce09f9018ec5e80445caf67ce0aa2678.css">
    <link rel="stylesheet" type="text/css" href="http://q.qunarzz.com/piao_tts/prd/styles/v2/list@12d870584660f131bd2807926611a4c7.css">
</head>
<body>
<h3 class="caption"><i class="sign"></i>订单管理</h3>
<div class="list_condition">
    <div id="reminder-container"></div>
    <div class="search clrfix">
        <form id="search-form" method="post" action="/order/queryOrderList">
            <input type="hidden" name="remindCondition" id="remindCondition" value="$!{remindType}" first="yes" />
            <table style="table-layout: fixed;">
                <colgroup><col width="76" /><col width="185" /><col width="80" /><col width="110" /><col width="100" /><col width="230" /></colgroup>
                <tr>
                    <td class="align_right"><label for="displayId" class="unit bold">订单号</label></td>
                    <td><input type="text" value="" class="fill w_l" id="displayId" name="displayId" /></td>
                    <td colspan="2">
						<label for="productId" class="unit bold" >产品ID</label>
						<input type="text" value="" class="fill w_l" id="productId" name="productId" style="width: 104px;" />
                    </td>
                    <td colspan="3">
                        <select id="dateType" name="dateType" style="margin-right:9px;">
                            <option value="create">下单时间</option>
                            <option value="pay">支付时间</option>
                            <option value="consume">验码时间</option>
                            <option value="canUseDate">游玩日期</option>
                        </select>
                        <label class="time_limit_unit time_limit_large">
                            <i class="i_hour"></i>
                            <input type="text" name="startDate" id="startDate" class="input_small" value="$!{startDate}">
                        </label>
                        <label class="time_limit_unit time_limit_large">
                            <i class="i_hour"></i>
                            <input type="text" name="endDate" id="endDate" class="input_small" value="$!{endDate}">
                        </label>
                    </td>
                </tr>
                <tr>
                    <td class="align_right"><label for="productName" class="unit bold">产品名称</label></td>
                    <td><input type="text" value="" class="fill w_l" id="productName" name="productName" /></td>
                    #parse('order/queryOrderListStatus.vm')
                    <td colspan="2">
                        <label for="isManual" class="unit bold labelWidth100">订单处理方式</label>
                        <select id="isManual" name="isManual">
                            <option value="0,1">不限</option>
                            <option value="1">人工订单</option>
                            <option value="0">接口订单</option>
                        </select>
                    </td>
                    <td rowspan="3"><a href="javascript:void(0)" hidefocus="true" id="submitbutton" class="btn btn_orange" style="position:absolute;right:80px;top:164px;">查询</a></td>
                </tr>
                <tr>
                    <td class="align_right"><label for="contactUser" class="unit bold">联系人</label></td>
                    <td><input type="text" value="" class="fill w_l" name="contactUser" id="contactUser" /></td>
                    <td colspan="2"><label for="orderSource" class="unit bold">订单渠道</label>
                        <select name="orderSource" id="orderSource">
                            <option value="">不限</option>
                            <option value="tts">TTS</option>
                            <option value="tuan">团购</option>
                            <option value="b2b">同行分销</option>
                        </select>
                    </td>
                    <td colspan="2">
                        <label class="unit bold labelWidth100">订单来源</label>
                        <label for="sale-platform-0" class="labelMarginRight7"><input type="radio" checked="checked" class="radio salePlatform" name="saleType" value="" id="sale-platform-0" />不限</label>
                        <label for="sale-platform-1" class="labelMarginRight7"><input type="radio" class="radio salePlatform" name="saleType" value="B2C" id="sale-platform-1" />直客</label>
                        <label for="sale-platform-2" class="labelMarginRight7"><input type="radio" class="radio salePlatform" name="saleType" value="B2B" id="sale-platform-2" />同行分销</label>
                    </td>
                </tr>
                <tr>
                    <td class="align_right"><label for="contactMobile" class="unit bold">联系人手机</label></td>
                    <td><input type="text" value="" class="fill w_l" id="contactMobile" name="contactMobile" /></td>
                    <td colspan="2"><label for="returnCall" class="unit bold">是否回访</label>
                        <select id="returnCall" name="returnCall">
                            <option value="">不限</option>
                            <option value="1">未回访</option>
                            <option value="2">已回访</option>
                        </select></td>
                    <td colspan="2">
                        <label class="unit bold labelWidth100">是否Qunar代运营</label>
                        <label for="qunar_operation-0" class="labelMarginRight7"><input type="radio" checked="checked" class="radio isQunarOperation" name="isQunarOperation" value="" id="qunar_operation-0" />不限</label>
                        <label for="qunar_operation-1" class="labelMarginRight7"><input type="radio" class="radio isQunarOperation" name="isQunarOperation" value="true" id="qunar_operation-1" />是</label>
                        <label for="qunar_operation-2" class="labelMarginRight7"><input type="radio" class="radio isQunarOperation" name="isQunarOperation" value="false" id="qunar_operation-2" />否</label>
                    </td>
                </tr>
                <tr>
                    #if($shiro.hasAnyRoles("qadmin","sadmin","callCenter","specialRate"))
                        <td class="align_right"><label for="shopName" class="unit bold">店铺名称</label></td>
                        <td><input type="text" value="" class="fill w_l" id="shopName" name="shopName" /></td>
                    #else
                        <td class="align_right"><label for="zeroSecondsRefund" class="unit bold">可信自动退</label></td>
                        <td>
                            <label for="zero_seconds_refund-0"><input type="radio" checked="checked" class="radio zeroSecondsRefund" name="zeroSecondsRefund" value="false" id="zero-seconds-refund-0" />不限</label>
                            <label for="zero_seconds_refund-1"><input type="radio" class="radio zeroSecondsRefund" name="zeroSecondsRefund" value="true" id="zero-seconds-refund-1" />可信自动退</label>
                        </td>
                    #end

                    #parse('order/queryAbnormalOrderStatus.vm')
                    <td colspan="3"><label class="unit bold labelWidth100">处理状态</label>
                        <label for="handle-state-0" class="labelMarginRight7"><input type="radio" checked="checked" class="radio isCompeted" name="isCompleted" value="" id="handle-state-0" />不限</label>
                        <label for="handle-state-1" class="labelMarginRight7"><input type="radio" class="radio isCompeted" name="isCompleted" value="1" id="handle-state-1" />待出票</label>
                        <label for="handle-state-2" class="labelMarginRight7"><input type="radio" class="radio isCompeted" name="isCompleted" value="2" id="handle-state-2" />已出票</label>
                    </td>
                </tr>
				<tr>
                    <td class="align_right">
                        <label class="unit bold">业务类型</label>

                    </td>
					<td colspan="3" id="businessType">
                        <a href="javascript:void(0);">不限</a>
                        <label for="business-type-0">
                            <input type="checkbox" name="partners[]" class="checkbox" value="HOTEL" id="business-type-0"/>票+房
                        </label>
                        <label for="business-type-1">
                            <input type="checkbox" name="partners[]" class="checkbox" value="TICKET" id="business-type-1"/>门票
                        </label>
                        <label for="business-type-2">
                            <input type="checkbox" name="partners[]" class="checkbox" value="ONE_DAY_TOUR" id="business-type-2"/>一日游
                        </label>
                        <label for="business-type-3">
                            <input type="checkbox" name="partners[]" class="checkbox" value="SPU_SHOW" id="business-type-3"/>演出票
                        </label>
                        <label for="business-type-4">
                            <input type="checkbox" name="partners[]" class="checkbox" value="TEAM_DIRECT" id="business-type-4"/>直销团购
                        </label>
                        <label for="business-type-5">
                            <input type="checkbox" name="partners[]" class="checkbox" value="CARNIVAL" id="business-type-5"/>玩乐
                        </label>
                    </td>
					<td colspan="3">
						<label class="unit bold labelWidth100">支付方式</label>
                        <label for="pay-way-0" class="labelMarginRight7"><input type="radio" checked="checked" class="radio payWay" name="payWay" value="" id="pay-way-0" />不限</label>
                        <label for="pay-way-1" class="labelMarginRight7"><input type="radio" class="radio payWay" name="payWay" value="PREPAY" id="pay-way-1"  #if($!{payWay} == "PREPAY") checked #end />在线支付</label>
                        <label for="pay-way-2" class="labelMarginRight7"><input type="radio" class="radio payWay" name="payWay" value="CASHPAY" id="pay-way-2" #if($!{payWay} == "CASHPAY") checked #end />景区支付</label>
                    </td>
				</tr>
                <tr>
                    #if($shiro.hasAnyRoles("qadmin","sadmin","callCenter","specialRate"))
                    <td colspan="4">
                    </td>
                    <td colspan="3">
                        <label class="unit bold labelWidth100">可信自动退</label>
                        <label for="zero_seconds_refund-0" class="labelMarginRight7"><input type="radio" checked="checked" class="radio zeroSecondsRefund" name="zeroSecondsRefund" value="false" id="zero-seconds-refund-0" />不限</label>
                        <label for="zero_seconds_refund-1" class="labelMarginRight7"><input type="radio" class="radio zeroSecondsRefund" name="zeroSecondsRefund" value="true" id="zero-seconds-refund-1" />可信自动退</label>
                    </td>
                    #end
                </tr>
            </table>
        </form>
    </div>
</div>
<div class="list_cont">
    <div class="list_sort" style="width: 10px;"></div>
    <div class="list_operate posi_top">
        #if($shiro.hasPermission("order_list_exportOrder"))
            <a href="javascript:void(0)" hidefocus="true" id="export-order1" class="do do_blue"><i class="icon i_out"></i>导出订单信息</a>
        #end
    </div>
    <div id="list-container"></div>
    <div class="list_operate">
        #if($shiro.hasPermission("order_list_exportOrder"))
            <a href="javascript:void(0)" hidefocus="true" id="export-order2" class="do do_blue"><i class="icon i_out"></i>导出订单信息</a>
        #end
    </div>
    <div id="pagination"></div>
</div>
<script src="http://q.qunarzz.com/jquery/prd/jquery-1.7.2.min.js" type="text/javascript" charset="utf-8"></script>
<script src="http://q.qunarzz.com/piao_tts/prd/scripts/base@ba2d4c123cb3074278981e0c8d9afcba.js" type="text/javascript" charset="utf-8"></script>
<script src="http://q.qunarzz.com/piao_tts/prd/scripts/cpanel/cpanel@b86a814a353d5f1ef0dc2fa2790e3245.js" type="text/javascript" charset="utf-8"></script>
<script src="http://q.qunarzz.com/piao_tts/prd/scripts/cpanel/list@9e2a8f0db9ae5d985ec6b9a99815548b.js" type="text/javascript" charset="utf-8"></script>
<script src="http://q.qunarzz.com/piao_tts/prd/scripts/cpanel/order/orderlistpage@5ddd929893bb946d6a4f948ac9d070bf.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    window.context = {
        listApi: "/order",
        permission: "$!{permission}",
        conditions: [$!{conditions}],
        listOperateClass: "list_operate"
    };
    (new tts.cpanel.order.OrderListPageInit(window.context)).init();
</script>
</body>
</html>
