<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <title>订单详情</title>
    <meta name="keywords" content="订单详情" />
    <meta name="description" content="订单详情" />
    <link rel="stylesheet" type="text/css" href="http://qunarzz.com/piao_tts/prd/styles/ocenter/order_detail@950e083416413ee3374f1406c1532cc6.css" />
    #include('layout/headerInclude.vm')
</head>
<body class="order_detial">

<!-- 供应商 -->

<!-- 定单正文 -->
<div class="tts_content">
    <div class="section">
        <div class="content_inner clrfix">
            <div class="content_main">
                <form action="">
                    <div class="content_detail">
                        <div class="order_info_item">
                            <div class="full_caption light">订单信息</div>
                            <ul class="param_info_area clrfix">
                                <li> <span class="label">订单号：</span> <em class="ellipsis" title="$!{hotelOrder.orderId}">$!{hotelOrder.orderId}</em> </li>
                                <li>
                                    <span class="label">订单状态：</span>
                                    <em class="ellipsis">
                                        $!{hotelOrder.orderStatus}
                                    </em>
                                </li>
                                <li> <span class="label">下单时间：</span> <em class="unit">$!dateTool.format("yyyy-MM-dd HH:mm",$!{hotelOrder.createTime})</em> </li>
                                <li> <span class="label">产品id：</span> $!{hotelOrder.productId} </li>
                                <li> <span class="label">产品名称：</span>$!{hotelOrder.hotelName}</li>
                                <li> <span class="label">所在城市：</span>$!{hotelOrder.city} </li>
                                <li> <span class="label">单价：</span><span class="unit price txt_orange"><em><span class="yen_font">&yen;</span> $!{hotelOrder.unitPrice} </em> </span> </li>
                                <li> <span class="label">购买数量：</span> $!{hotelOrder.roomsCount} </li>
                                <li> <span class="label">订单金额：</span> <span class="unit price txt_orange"><em><span class="yen_font">&yen;</span> $!{hotelOrder.totalPrice} </em> </span> </li>

                                <li>
                                    <span class="label">入住日期：</span>
                                    <em class="ellipsis">
                                        $!{hotelOrder.arrivalDate}
                                    </em>
                                </li>

                                <li>
                                    <span class="label">房型信息：</span>
                                    <em class="ellipsis">
                                        $!{hotelOrder.roomName}
                                    </em>
                                </li>
                            </ul>

                            <div class="full_caption light">联系人信息</div>

                            <ul class="param_info_area clrfix">
                                <li> <span class="label">取票人：</span> <em class="ellipsis" title="$!{hotelOrder.contactUser}">$!{hotelOrder.contactUser}</em> </li>
                                <li> <span class="label">手机号：</span> <em class="ellipsis" title="$!{hotelOrder.contactMobile}">$!{hotelOrder.contactMobile}</em> </li>
                            </ul>


                        </div>











                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<!--统一footer嵌套于此行后-->
<div class="tts_footer">
    <p>$!{dto.supplierCorpName} 版权所有 © icp</p>
    <p>通信地址：$!{dto.supplierAddress}  </p>
</div>





<script src="http://qunarzz.com/jquery/prd/jquery-1.7.2.min.js" type="text/javascript"></script>
<script src="http://qunarzz.com/piao_tts/prd/scripts/base@ba2d4c123cb3074278981e0c8d9afcba.js" type="text/javascript"></script>
<script src="http://qunarzz.com/piao_tts/prd/scripts/cpanel/list@9e2a8f0db9ae5d985ec6b9a99815548b.js" type="text/javascript" charset="utf-8"></script>
<script src="http://qunarzz.com/piao_tts/prd/scripts/ocenter/orderdetailspage@fe3aba40cfc20c46aeb33e83b3768c57.js" type="text/javascript"></script>
<script type="text/javascript">
    window['_ba_utm_l'] = 'mp';
    window['_ba_utm_s'] = '959';

    window.context = {
        oid: '$!{dto.displayId}',
        tq:{'1':'$!{dto.supplierOnlineCustomService}'},
        api: "/order",
        resendApi:"/order/resendEticket",
        soldOutDateset:"$!{dto.soldOutDateset}",
        canChangeMobile:'$!{dto.canChangeMobileNo}',
        phoneNo:'$!{dto.contactMobile}'
    };
    $(function() {
        (new tts.ocenter.OrderDetailsPageInit(window.context)).init();
    });
</script>
</body>
</html>
