<!doctype html>
<html>
<head>
	<title>Qunar管理员后台</title>
	<meta name="keywords" content="Qunar管理员后台">
	<meta name="description" content="Qunar管理员后台">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="http://q.qunarzz.com/piao_tts/prd/styles/v2/list@12d870584660f131bd2807926611a4c7.css" />
</head>
<body>
<h3 class="caption"><i class="sign"></i>上传对账表</h3>
<div class="list_condition" style="padding: 10px 10px 200px 10px;">
	<form action="/$!{permission}/settlement/uploadSettlementDetail" method="post" id="frm1" enctype="multipart/form-data">
		<table width="100%" border="0" cellspacing="0" cellpadding="0" style="margin-top: 10px;">
			<tr height="25">
				<td colspan="4"><div class="bold">上传结算总表</div></td>
			</tr>
			<tr height="25">
				<td width="150"><input type="file" name="file" /></td>
				<td><input type="submit" value="上传"/></td>
			</tr>
		</table>
	</form>
	
	<iframe id="secretIFrame" name="secretIFrame" src="" style="display: none; visibility: hidden;"></iframe>

</div>
<script src="http://q.qunarzz.com/jquery/prd/jquery-1.7.2.min.js" type="text/javascript" charset="utf-8"></script>
<script src="http://q.qunarzz.com/piao_tts/prd/scripts/base@ba2d4c123cb3074278981e0c8d9afcba.js" type="text/javascript" charset="utf-8"></script>
<script src="http://q.qunarzz.com/piao_tts/prd/scripts/cpanel/cpanel@b86a814a353d5f1ef0dc2fa2790e3245.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" src="http://q.qunarzz.com/js/qdatepicker/build/qdatepicker-0.1.min.js"></script>
<script src="http://q.qunarzz.com/piao_tts/prd/scripts/cpanel/order/uploadsettlementpage@097ee3e0132ec859b360ce50d98fc888.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
	window.context = {
		permission: "$!{permission}"
	};
	(new tts.cpanel.order.UploadSettlementPageInit(window.context)).init();
</script>
</body>
</html>
