<!--
代码中已删除，保留一段时间后删除
现付预订出票失败：Qunar
-->

<mailSubject>【现付出票失败】$supplierShopName</mailSubject>

<mailContent>
	订单DisplayId：$orderDisplayId
	产品名称：$productTitle
	供应商名称：$supplierShopName
	用户联系方式：$userContact
</mailContent>
