<!--
供应商刷红包监控信息
-->

<mailSubject>供应商代金券消费监控</mailSubject>

<mailContent>
    <style type="text/css">
        table { border: solid 1px #e1e1e8; border-collapse: collapse; }
        tr td { padding: 3px 15px; height: 25px; border: solid 1px #e1e1e8; }
        .head { background-color: #f7f7f9; }
    </style>
    <table>
        <tr class="head">
            <td>开始时间</td>
            <td>结束时间</td>
            <td>代金券消费金额</td>
        </tr>
        #foreach ($coupon in $couponLists)
            <tr>
                <td>$!coupon.startTime</td>
                <td>$!coupon.endTime</td>
                <td>$!coupon.couponMoney</td>
            </tr>
        #end
    </table>
</mailContent>
