<!--
接口产品 景区自动匹配
每日发邮件
-->

<mailSubject>接口产品每日景区自动匹配报表 - $date</mailSubject>

<mailContent>

<style type="text/css">
table { border: solid 1px #e1e1e8; border-collapse: collapse; }
tr td { padding: 3px 15px; height: 25px; border: solid 1px #e1e1e8; }
.head { background-color: #f7f7f9; }
</style>

<table>
	<tr class="head">
		<td>匹配时间</td>
		<td>产品ID</td>
		<td>产品名称</td>
		<td>接口传入景点名称</td>
		<td>接口传入景点城市</td>
		<td>匹配到的景点ID</td>
		<td>匹配到的景点名称</td>
		<td>匹配到的景点城市</td>
	</tr>
	#foreach ($sight in $sights)
		#foreach ($sid in $sight.matchedSightId)
			<tr>
				#if ($foreach.index == 0)
				<td rowspan="$sight.matchedSightId.size()">$dateUtils.formatDateTime($sight.matchedTime)</td>
				<td rowspan="$sight.matchedSightId.size()">$encryptor.encrypt($sight.productId)</td>
				<td rowspan="$sight.matchedSightId.size()">$sight.productName</td>
				#end
				<td>$sight.originSightName.get($foreach.index)</td>
				<td>$sight.originCity.get($foreach.index)</td>
				<td>$sight.matchedSightId.get($foreach.index)</td>
				<td>$sight.matchedSightName.get($foreach.index)</td>
				<td>$sight.matchedCity.get($foreach.index)</td>
			</tr>
		#end
	#end
</table>

</mailContent>
