<!--
动作发起者：系统
发起动作：每日凌晨1点
接收方：支付中心对账人员
-->

<mailSubject>$!mailSubject</mailSubject>

<mailContent>
报表见附件，有问题请咨询门票TTS团队
</mailContent>
	
<mailAttachment>
	<filePath>
		$!filePath
    </filePath>
	
	<fileName>
		$!fileName
    </fileName>
	
	<fileDesc>
		$!fileDesc
    </fileDesc>
</mailAttachment>
