<!--
发起动作：通知供应商特殊费率恢复到了基本的配置状态
接收方：接口供应商
-->
<mailSubject>【去哪儿】产品变更，恢复原服务费率</mailSubject>

<mailContent>
    <p>您的产品适用于去哪儿特殊服务费率，因产品进行了修改，现已恢复原服务费率。如您需要继续享受此费率，请向Qunar运营人员重新申请。</p>
    <ul>
        #foreach ($product in $products)
            <li>产品名称:$product.name </li>
            <li>产品ID:$product.id </li>

            <li>费率恢复原因：修改票种、景区</li>
        #end
    </ul>
</mailContent>