<!--
代码中已删除，保留一段时间后删除
发起动作：公告通知供应商后，通知管理员
接收方：管理员
-->
<mailSubject>【去哪儿网】门票公告_【${subject}】已发布</mailSubject>

<mailContent>
<p>您刚才发布的门票公告【${subject}】已发布，并向下列供应商发送了邮件提醒：</p>
<ul>
#foreach ($supplier in $suppliers)
<li>$supplier.shopName : $supplier.noticeMail</li>
#end
</ul>
</mailContent>
