<!--
代码中已删除，保留一段时间后删除
预付，出票失败，自动退款失败，通知qunar
-->

<mailSubject>【预付出票失败】$supplierShopName【自动退款失败】$orderDisplayId</mailSubject>

<mailContent>
显示订单号：$orderDisplayId
订单退款原因：$reason
退款失败原因，请联系TTS运维人员。
</mailContent>
