<!--
动作发起者：Qunar管理员/供应商
发起动作：退款失败，供应商余额不足
接收方：去哪儿管理员
-->

<mailSubject>${supplierName}供应商账户余额不足，退款失败 ${debug}</mailSubject>

<mailContent>
订单号：${displayId} ，由于账户余额不足，退款失败，请线下处理退款 <br/>
退款金额：${refundMoney}，供应商：${supplierName}，供应商联系电话：${telephone}
</mailContent>