<!--
发起动作：新公告通知
接收方：供应商
-->
<mailSubject>【去哪儿网】门票公告_【${subject}】</mailSubject>

<mailContent>
<p>【去哪儿网】运营人员刚刚发布一则门票公告：【${subject}】。</p>
<p>请及时登录<a href="${tts2Url}/home">门票管理后台</a>查看，谢谢合作。</p>
</mailContent>
