<!--
发起动作：创建特殊费率成功,将创建的消息发送邮件给供应商
接收方：供应商


-->


<mailSubject>【去哪儿】调整技术服务费率通知</mailSubject>

<mailContent>
    <p>尊敬的供应商，
        您的产品通过去哪儿的审核，已被设置了更低的技术服务费率，产品明细如下：</p>
    <ul>
        #foreach (${specialRateInfo} in $!{specialRateInfos})
         <li>   产品的名称 :$!{specialRateInfo.productName}  ,产品ID:$!{specialRateInfo.productId}, 费率值 :  $!{specialRateInfo.specialRate},  有效期 :  $!{specialRateInfo.startDate} 至   $!{specialRateInfo.endDate} </li>
        #end
    </ul>
</mailContent>
