<!--
发起动作：创建特殊费率成功,将创建的消息发送邮件给供应商
接收方：供应商


-->


<mailSubject>【【去哪儿】产品变更，恢复原服务费率</mailSubject>

<mailContent>
    <p>您的产品适用于去哪儿特殊服务费率，因产品进行了修改，现已恢复原服务费率。如您需要继续享受此费率，请向Qunar运营人员重新申请。</p>
    <br><b>产品明细：</b></br>
    <ul>

        <li><b>产品名称:</b> $!{productName} </li>
        <li><b>产品ID:</b> $!{productID}  </li>
        <li><b>费率恢复原因：</b> 修改票种,景区,价格</li>

    </ul>
</mailContent>
