<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>销售分析</title>
	<link rel="stylesheet" type="text/css" href="http://q.qunarzz.com/piao_tts/prd/styles/v2/new@ce09f9018ec5e80445caf67ce0aa2678.css">
</head>
<body>
<h3 class="caption"><i class="sign"></i>订单概况</h3>
<form method="get" id="analysis-form" style="width:400px;margin:0 auto;">
	<input type="hidden" name="method" value="queryDateRangeSalesStatistics">
	<input readonly="true" name="startDate" value="" type="text">&nbsp;--&nbsp; <input readonly="true" name="endDate" value="" type="text">
	<input type="button" value="查询" id="query">
</form>
<div id="chartcolumn" style="width:900px;height:400px;margin-top:30px"></div>
<div id="chartpie" style="width:900px;height:400px;margin-top:30px"></div>

<h3 class="caption"><i class="sign"></i>产品现付/预付占比</h3>
<div id="chart2" style="height: 400px;"></div>

<script src="http://q.qunarzz.com/jquery/prd/jquery-1.7.2.min.js" type="text/javascript" charset="utf-8"></script>
<script src="http://q.qunarzz.com/piao_tts/prd/scripts/base@ba2d4c123cb3074278981e0c8d9afcba.js" type="text/javascript" charset="utf-8"></script>
<script src="http://q.qunarzz.com/piao_tts/prd/scripts/cpanel/cpanel@b86a814a353d5f1ef0dc2fa2790e3245.js" type="text/javascript" charset="utf-8"></script>
<script src="http://q.qunarzz.com/piao_tts/prd/scripts/cpanel/analysis/salespage@5b1dc4790d397db058d6bed73f60a672.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
	window.context = {
		api: "/supplier/analytics"
	};
	(new tts.cpanel.analysis.SalePageInit(window.context)).init();
</script>
</body>
</html>
