<!doctype html>
<html>
<head>
    <title>Qunar管理员后台</title>
    <meta name="keywords" content="Qunar管理员后台">
    <meta name="description" content="Qunar管理员后台">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="http://q.qunarzz.com/piao_tts/prd/styles/v2/list@12d870584660f131bd2807926611a4c7.css">
</head>
<body>
<div class="tts_tab clrfix">
    <a href="/supplier/cashPaySettle/list" class="tts_tab_item  tts_tab_current">现付账单管理</a>
    <a href="/supplier/cashpay/list" class="tts_tab_item">消费数据管理</a>
</div>
<div class="list_condition">
    <div id="reminder-container"></div>
    <div class="search clrfix">
        <form id="search-form" method="post" action="/supplier/cashPaySettle">
            <input type="hidden" name="method" value="queryCashPaySettleList" />
            <table style="table-layout: fixed;">
                <colgroup><col width="80" /><col width="350" /><col width="80" /><col width="200" /><col width="" /></colgroup>
                <tr>
                    <td class="align_right"><label class="unit bold">账单周期</label></td>
                    <td>
                        <select id="startyear" style="width:100px">
                        </select>
                        <select id="startmonth" style="width:50px" >
                            <option value="01">01</option>
                            <option value="02">02</option>
                            <option value="03">03</option>
                            <option value="04">04</option>
                            <option value="05">05</option>
                            <option value="06">06</option>
                            <option value="07">07</option>
                            <option value="08">08</option>
                            <option value="09">09</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                        </select>
                        <select id="endyear" style="width:100px">
                        </select>
                        <select id="endmonth" style="width:50px">
                            <option value="01">01</option>
                            <option value="02">02</option>
                            <option value="03">03</option>
                            <option value="04">04</option>
                            <option value="05">05</option>
                            <option value="06">06</option>
                            <option value="07">07</option>
                            <option value="08">08</option>
                            <option value="09">09</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                        </select>
                        <input type="hidden" name="settleCycleStartTime" id="startDate" class="fill w_l datepicker" value="">
                        <input type="hidden" name="settleCycleEndTime" id="endDate" class="fill w_l datepicker" value="">
                    </td>
                    <td class="align_right"><label for="confirmStatus" class="unit bold">确认状态</label></td>
                    <td>
                        <select id="confirmStatus" name="confirmStatus" style="width:169px">
                            <option value="">不限</option>
                            <option value="WAIT_CONFIRM_SUPPLIER">待供应商确认</option>
                            <option value="SETTLE_CONFIRMED">双方已确认</option>
                            <option value="MONEY_RECEIPT">去哪儿已收款</option>
                        </select>
                    </td>
                    <td><a href="javascript:void(0)" hidefocus="true" id="submitbutton" class="btn btn_orange">查询</a></td>
                </tr>
            </table>
        </form>
    </div>
</div>
<div class="list_cont">
    <div id="list-container"></div>
    </div>
<div id="pagination"></div>
</div>
<script src="http://q.qunarzz.com/jquery/prd/jquery-1.7.2.min.js" type="text/javascript" charset="utf-8"></script>
<script src="http://q.qunarzz.com/piao_tts/prd/scripts/base@ba2d4c123cb3074278981e0c8d9afcba.js" type="text/javascript" charset="utf-8"></script>
<script src="http://q.qunarzz.com/piao_tts/prd/scripts/cpanel/cpanel@b86a814a353d5f1ef0dc2fa2790e3245.js" type="text/javascript" charset="utf-8"></script>
<script src="http://q.qunarzz.com/js/qdatepicker/build/qdatepicker-0.1.min.js" type="text/javascript"></script>
<script src="http://q.qunarzz.com/piao_tts/prd/scripts/cpanel/list@9e2a8f0db9ae5d985ec6b9a99815548b.js" type="text/javascript" charset="utf-8"></script>
<script src="http://q.qunarzz.com/piao_tts/prd/scripts/cpanel/order/cashpayment/settlementlistpage@ab0c7c63dd8010801950c81d34972f10.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    window.context = {
        api: "/supplier/cashPaySettle",
        permission: "supplier"
    };
    (new tts.cpanel.order.CashSettlementListPageInit(window.context)).init();
</script>
</body>
</html>
