<iframe id="callcenter-toolbar" src="http://fuwu.qunar.com/qcc/html/mp/toolbar.html" style="position:absolute;width:645px;height:50px;top:0;left:0;z-index:1"></iframe>
#set($layout='layoutHome.vm')
#if($homeOutputDto.ticketSupplier)
<div class="mpm-head">
    <div class="mpg-section clrfix">
        <div class="mpm-head-hd">
            <a href="/home" hidefocus="true" title="去哪儿" class="logo">去哪儿</a>
            <strong class="role"></strong>
            <em class="name">门票管理系统</em>
        </div>
        <div class="mpm-head-bd">
            <div class="nav clrfix" id="mainmenus">
                <a href="javascript:void(0);" hidefocus="true" class="nav-item nav-selected" id="home" data-submenu="homemenu">首页</a>
                <a href="javascript:void(0);" hidefocus="true" class="nav-item" id="order" data-submenu="ordermenu">订单管理</a>
                <a href="javascript:void(0);" hidefocus="true" class="nav-item" id="product" data-submenu="productmenu">产品管理</a>
                <a href="javascript:void(0);" hidefocus="true" class="nav-item" id="analytics" data-submenu="analyticsmenu">数据分析</a>
                <a href="javascript:void(0);" hidefocus="true" class="nav-item" id="callcenter" data-submenu="callmanagementmenu">话务管理</a>
                <a href="javascript:void(0);" hidefocus="true" class="nav-item" id="suppliesinfo" data-submenu="suppliermenu">商家信息管理</a>
                <a href="javascript:void(0);" hidefocus="true" class="nav-item" id="announcement" data-submenu="announcementmenu">门票服务</a>
                <a href="javascript:void(0);" hidefocus="true" class="nav-item" id="supplierService" data-submenu="supplierServicemenu">商家服务中心</a>
            </div>
        </div>
    </div>
</div>
#end

<div class="wrap">
    <div class="content">
        #if($homeOutputDto.ticketSupplier)
            <table class="tb_layout" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                    <td class="left_bg" style="display:none;">
                        <div class="left" id="submenus">
                            <div id="homemenu" class="menu item on" style="display: block;">
                                <h3 class="tree-node">主页面</h3>
                                <ul class="submenu">
                                    <li><a target="frame" data-leaf="true" class="menu-item on" href="$!{merchantCenterHost}/supplier/homepage/view">主页面</a></li>
                                </ul>
                            </div>
                            #parse('include/module/ordermenu.vm')
                            <div id="productmenu" class="menu item on" style="display: none;">
                                <h3 class="tree-node">门票产品</h3>
                                <ul class="submenu">
                                    <li><a target="frame" data-leaf="true" class="menu-item on" href="$!{productCenterHost}/home">产品中心</a></li>
                                    <li><a target="frame" data-leaf="true" class="menu-item" href="$!{productCenterHost}/supplier/product/list/onSale">上架中的产品</a></li>
                                    <li><a target="frame" data-leaf="true" class="menu-item" href="$!{productCenterHost}/supplier/product/list/offline">仓库中的产品</a></li>
                                    <li><a target="frame" data-leaf="true" class="menu-item" href="$!{productCenterHost}/supplier/product/list/waitAudit">待审核的产品</a></li>
                                    <li><a target="frame" class="menu-item" href="$!{productCenterHost}/supplier/product/create?saleType=b2c">新建产品</a></li>
                                    #if(${homeOutputDto.supplierInfo.canDistribution}==true)
                                        <li><a target="frame" class="menu-item" href="$!{productCenterHost}/supplier/product/create?saleType=b2b">新建B2B产品</a></li>
                                    #end
                                    #if($homeOutputDto.supplierInfo.hotelProductEnable && !$!{homeOutputDto.supplierInfo.isContract})
                                        <li><a target="frame" class="menu-item" href="$!{productCenterHost}/supplier/productHotelPackage/create">新建票+房产品</a></li>
                                    #end
                                    <li><a target="frame" class="menu-item" href="$!{productCenterHost}/supplier/product/refreshProduct">接口产品更新</a></li>

                                    #if($stringUtilsTool.isNotBlank($!homeOutputDto.supplierWebSite))
                                        <li><a target="_blank" href="http://$!{homeOutputDto.supplierWebSite}">进入店铺</a></li>
                                    #end
                                </ul>
                            </div>
                            <div id="analyticsmenu" class="menu item on" style="display: none;">
                                <h3 class="tree-node">门票数据</h3>
                                <ul class="submenu">
                                    <li><a target="frame" data-leaf="true" class="menu-item on" href="/supplier/analytics/sales">销售分析</a></li>
                                </ul>
                            </div>
                            <div id="callmanagementmenu" class="menu item on" style="display: none;">
                              <h3 class="tree-node">
                                  <a target="frame" class="menu-item" data-leaf="true" href="$!{merchantCenterHost}/callManagement/home">话务管理</a>
                              </h3>
                            </div>
                            <div id="suppliermenu" class="menu itme on" style="display:none ">
                                <h3 class="tree-node">
                                    <a target="frame" data-leaf="true" class="menu-item on" href="$!{merchantCenterHost}/home">商家信息管理</a>
                                </h3>
                            </div>
                            <div id="announcementmenu" class="menu item on" style="display: none;">
                                <h3 class="tree-node">
                                    <a target="frame" class="menu-item" data-leaf="true" href="$!{merchantCenterHost}/announcementService/home?menuKey=ANNOUCEMENT_LIST">门票服务</a>
                                </h3>
                            </div>
                            <div id="supplierServicemenu" class="menu item on" style="display: none;">
                                <h3 class="tree-node"><a target="frame" href="$!{merchantCenterHost}/violation/home" data-leaf="true" class="menu-item">商家服务中心</a></h3>
                            </div>
                        </div>
                    </td>
                    <td class="rig_bg"><div class="right" id="frame-container"></div></td>
                </tr>
            </table>
        #else
            <style type="text/css">
                #piao_yet_open{position:relative;height:200px;padding:100px 20px 0 350px;font-size:14px;font-weight:700;line-height:20px;background:#fff url(http://source.qunar.com/piao/images/error_blue_bg.jpg) 210px 100px no-repeat}
                #piao_yet_open p{margin-top:70px;padding-left:30px}
            </style>
            <div id="piao_yet_open">
                <p>您好，您尚未开通门票业务。</p>
            </div>
        #end
    </div>
</div>
<script type="text/javascript">
    window.context = {
        //defaultMenu: "productnavi"
	    shops: [
		    #foreach($s in $homeOutputDto.canChangeList)
			    {id: "$!{s.id}", name: "$!{s.name}"},
		    #end
	    ],
        shopId: "$!{shopId}",
        permission: "supplier",
        merchantCenterHost: "$!{merchantCenterHost}"
    };

</script>
