<!DOCTYPE html>
<!--[precache]-->
<!--
<html>
<head></head>
<body></body>
</html>
-->
<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <title>验证电子票</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <meta content="false" id="twcClient" name="twcClient" />
    <meta http-equiv="Content-Security-Policy" content="default-src *.qunar.com *.qunarzz.com qunarzz.com 'self' 'unsafe-inline' 'unsafe-eval' data:;frame-src *;">

    <script type="text/javascript">
        window.touchTimeObj = {};
        touchTimeObj.windowStartTime = +new Date();
    </script>

    <link rel="stylesheet" href="http://q.qunarzz.com/piao_tts/prd/styles/usage/touch/core/style@ver.css" />
    <link rel="stylesheet" href="http://q.qunarzz.com/piao_tts/prd/styles/usage/touch/page/list/style@ver.css" />

    <script type="text/javascript">
        touchTimeObj.cssLoadedTime = +new Date();
    </script>
</head>
<body>

<script type="text/javascript">
    touchTimeObj.scriptsStartTime = +new Date();
</script>

<script type="text/javascript" src="http://q.qunarzz.com/piao_base/prd/scripts/release/hybrid@ver.js"></script>
<script type="text/javascript" src="http://q.qunarzz.com/piao_tts/prd/scripts/cpanel/touch/order/consume/page@ver.js"></script>

<script type="text/javascript">
    touchTimeObj.scriptsLoadedTime = +new Date();
</script>
<script type="text/javascript">
    window.defaultContext = {
        pageClass: 'tts.cpanel.touch.order.consume.Page',
        permission: "$!{permission}"
    };
    $.hybrid.PageManager.init();
</script>

</body>
</html>