<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <title>订单详情</title>
    <meta name="keywords" content="订单详情" />
    <meta name="description" content="订单详情" />
    <link rel="stylesheet" type="text/css" href="http://q.qunarzz.com/piao_tts/prd/styles/ocenter/order_detail@950e083416413ee3374f1406c1532cc6.css" />
    #include('layout/headerInclude.vm')
</head>
<body class="order_detial">

<!-- 供应商 -->
<div class="supplier section clrfix">
    <div class="avata"><img src="${dto.supplierLogo}" alt="${dto.supplierShopName}" /></div>
    <div class="server_time">
        #if($stringUtilsTool.isNotBlank($!dto.supplierTelephone))<em>服务热线：${dto.supplierTelephone}</em>#end
        #if($stringUtilsTool.isNotBlank($!dto.supplierBusinessHour))<em>工作时间：${dto.supplierBusinessHour}</em>#end
    </div>
</div>
<!-- 定单正文 -->
<div class="tts_content">
<div class="section">
<div class="content_inner clrfix">
<div class="content_main">
<form action="">
<div class="content_detail">
<div class="order_info_item">
    <div class="full_caption light">订单信息</div>
    <h1 class="pick_up">$!{dto.title}</h1>
    <ul class="param_info_area clrfix">
        <li> <span class="label">订单号码：</span> <em class="ellipsis" title="$!{dto.displayId}">$!{dto.displayId}</em> </li>
        <li> <span class="label">下单时间：</span> <em class="unit">$!dateTool.format("yyyy-MM-dd HH:mm",$!{dto.createTime})</em> </li>
        <li> <span class="label">退款规则：</span> <span class="unit">
            #if($!dto.canRefund)
                <b class="refund_status txt_green" id="supportrefund"><i class="icon i_succeed"></i>支持退款</b>
            #else
                <b class="refund_status txt_gray"><i class="icon i_dont"></i>不支持退款</b>
            #end
        </span></li>
        <li>
            <span class="label">购买数量：</span>
            #if($stringUtilsTool.isNotBlank($!{dto.oldOrderQuantity}))
                <span class="ellipsis" title="$!{dto.oldOrderQuantity}">$!{dto.oldOrderQuantity}</span>
            #else
                <span class="ellipsis">$!{dto.quantity}</span>
            #end
        </li>
        <li> <span class="label">支付方式：</span> <span class="unit">$!{dto.payWay}</span></li>
        <li>
            <span class="label">订单状态：</span>
	                                <span class="ellipsis">
	                                #if(($!{dto.refundMoneyTrace} && ${dto.refundMoneyTrace.size()}>0) || ${dto.useQuantity}>0)
                                        <b class="bold txt_red has_des" data-tip-id="order-status">$!{dto.orderDisplayStatus}</b>
                                    #else
                                        <b class="bold txt_red" data-tip-id="order-status">$!{dto.orderDisplayStatus}</b>
                                    #end

                                        #if($!{dto.orderSue.sueStatus} != "UN_SUE")
                                            #if($!{dto.orderSue.sueStatus} == "SUE_REJECT")
                                                <b class="bold txt_red has_des" data-tip-id="sue-status">$!{dto.orderSue.sueStatus.displaySueStatus}</b>
                                            #else
                                                <b class="bold txt_black has_des" data-tip-id="sue-status">$!{dto.orderSue.sueStatus.displaySueStatus}</b>
                                            #end
                                        #end
		                            </span>
        </li>

        #if($!{dto.cardAmount} == 0)
            <li> <span class="label">订单金额：</span><span class="unit price txt_orange">&yen;<em>$!numberTool.format($!{dto.origin})</em></span>
                #if($!{dto.orderCashBackStatus} == "UN_CASH_BACK" || $!{dto.orderCashBackStatus} == "YET_TO_COME_BACK_TIME" )
                    <span class="return_num" data-tip-type="cashback" data-tip-status="UN_CASH_BACK"><span class="return">返</span><span class="price txt_orange">&yen;<em>$!{dto.orderCashBackMoney}</em></span></span>
                #elseif($!{dto.orderCashBackStatus} == "ALREAD_CASH_BACK")
                    <span class="return_num" data-tip-type="cashback" data-tip-status="ALREAD_CASH_BACK"><span class="return">已返</span><span class="price txt_orange">&yen;<em>$!{dto.alreadyCashBackMoney}</em></span></span>
                #elseif($!{dto.orderCashBackStatus} == "EXPIRE_CASH_BACK")
                    <span class="return_num delay" data-tip-type="cashback" data-tip-status="EXPIRE_CASH_BACK"><span class="return">返</span><span class="price txt_grey">&yen;<em>$!{dto.orderCashBackMoney}</em></span></span>
                #end
            </li>
        #end
    </ul>

    #if($!{dto.cardAmount} > 0)
        <div class="order_pay_info">
            <div class="clrfix"> <span class="label">订单金额：</span> <em class="unit price">&yen;<strong>$!numberTool.format($!{dto.origin})</strong></em> </div>
            <div class="clrfix"> <span class="label">优惠金额：</span> <em class="unit price">-&yen;<strong>$!numberTool.format($!{dto.cardAmount})</strong></em> </div>
            <div class="clrfix"> <span class="label">实付金额：</span> <em class="unit price txt_orange">&yen;<strong>$!numberTool.format($!{dto.money})</strong></em>
                #if($!{dto.orderCashBackStatus} == "UN_CASH_BACK" || $!{dto.orderCashBackStatus} == "YET_TO_COME_BACK_TIME" )
                    <span class="return_num" data-tip-type="cashback" data-tip-status="UN_CASH_BACK"><span class="return">返</span><span class="price txt_orange">&yen;<em>$!{dto.orderCashBackMoney}</em></span></span>
                #elseif($!{dto.orderCashBackStatus} == "ALREAD_CASH_BACK")
                    <span class="return_num" data-tip-type="cashback" data-tip-status="ALREAD_CASH_BACK"><span class="return">已返</span><span class="price txt_orange">&yen;<em>$!{dto.alreadyCashBackMoney}</em></span></span>
                #elseif($!{dto.orderCashBackStatus} == "EXPIRE_CASH_BACK")
                    <span class="return_num delay" data-tip-type="cashback" data-tip-status="EXPIRE_CASH_BACK"><span class="return">返</span><span class="price txt_grey">&yen;<em>$!{dto.orderCashBackMoney}</em></span></span>
                #end
            </div>
        </div>
    #end
</div>

<div class="order_info_item">
    <div class="full_caption light">使用时间</div>
    <ul class="param_info_list list_sign">
        #if($stringUtilsTool.isNotBlank($!dto.validUseDateDescription))
            <li><i class="i_dot_blue"></i>有效日期：<span>$!{dto.validUseDateDescription}</span></li>
        #end
        #if($stringUtilsTool.isNotBlank($!dto.invalidUseDateDescription))
            <li><i class="i_dot_blue"></i>不可使用日期：<span>$!{dto.invalidUseDateDescription}</span></li>
        #end
    </ul>
</div>
    #if(!$null.isNull(${dto.passengers}) && ${dto.passengers.size()}>0 && ${dto.needPassengerInfo})
    <div class="order_info_item">
        <div class="full_caption light">游客信息</div>
        <table class="param_info_table">
            <tbody>
            <tr>
                #if(${dto.needPassengerName} )
                    <th width="10%">姓名</th>
                #end
                #if(${dto.needPassengerPinyin} )
                    <th width="14%">拼音</th>
                #end
                #if(${dto.needPassengerIdCard} )
                    <th width="40%">证件</th>
                #end
                #if(${dto.needPassengerUserDefinei} )
                    <th width="18%">$!{dto.passengerUserDefinedItemI}</th>
                #end
                #if(${dto.needPassengerUserDefineii} )
                    <th width="18%">$!{dto.passengerUserDefinedItemII}</th>
                #end
            </tr>
                #foreach($passenger in $!{dto.passengers})
                <tr>
                    #if(${dto.needPassengerName} )
                        <td>$!{passenger.name}</td>
                    #end
                    #if(${dto.needPassengerPinyin} )
                        <td>$!{passenger.namePinyin}</td>
                    #end
                    #if(${dto.needPassengerIdCard} )
                        <td><i class="icon i_man_id"></i><span>$!{passenger.idNo}</span></td>
                    #end
                    #if(${dto.needPassengerUserDefinei} )
                        <td><p style="width:120px" class="ellipsis">$!{passenger.userDefineiValue}</p></td>
                    #end
                    #if(${dto.needPassengerUserDefineii} )
                        <td><p style="width:120px" class="ellipsis">$!{passenger.userDefineiiValue}</p></td>
                    #end
                </tr>
                #end
            </tbody>
        </table>
    </div>
    #end

<div class="order_info_item">
    <div class="full_caption light">取票人信息<a style="display: none;" id="fetcher-button" href="javascript:void(0)" hidefocus="true" class="icon i_edit" title="修改取票人"></a></div>
    <ul class="param_info_list list_sign">
        #if($!{dto.contactUser})
            <li><i class="i_dot_blue"></i>取票人：<span>$!{dto.contactUser}</span></li>
        #end
        #if($!{dto.contactUserPinyin})
            <li><i class="i_dot_blue"></i>取票人拼音：<span>$!{dto.contactUserPinyin}</span></li>
        #end
        #if($!{dto.email})
            <li><i class="i_dot_blue"></i>邮箱：<span>$!{dto.email}</span></li>
        #end
        <li><i class="i_dot_blue"></i>手机号：<span>$!{dto.contactMobile}</span></li>
        #if($!{dto.userMessage})
            <li><i class="i_dot_blue"></i>备注：<span>$!{dto.userMessage}</span></li>
        #end
    </ul>
</div>

    #if(${dto.canResend} || $stringUtilsTool.isNotBlank($!{dto.pickUpTime}) || $stringUtilsTool.isNotBlank($!{dto.pickUpAddress}) )
        <div class="order_info_item">
            <div class="full_caption light">取票信息</div>
            <ul class="param_info_list list_sign" style="height: 50px;">
                #if(${dto.canResend})
                <li> <i class="i_dot_blue"></i> $!{dto.supplierShopName}将为您发送入园凭证。如长时间未收到，请点击
                    <a id="send-ticket" href="javascript:void(0)" hidefocus="true" class="do_blue">重新发送</a><span id="send-ticket-timer" class="txt_gray" style="display:none;">
                    </span><br />或致电 <b class="txt_red">$!{dto.supplierTelephone}</b>
                </li>
                #end
                #if($stringUtilsTool.isNotBlank($!{dto.pickUpTime})) <li> <i class="i_dot_blue"></i> 取票时间：$!{dto.pickUpTime} </li> #end
                #if($stringUtilsTool.isNotBlank($!{dto.pickUpAddress})) <li> <i class="i_dot_blue"></i> 取票地点：$!{dto.pickUpAddress} </li> #end
            </ul>
        </div>
    #end

    #if($stringUtilsTool.isNotBlank($!{dto.postAddress}) && $stringUtilsTool.isNotBlank($!{dto.postCode}) )
    <div class="order_info_item">
        <div class="full_caption light">邮寄地址</div>
        <ul class="param_info_list list_sign">
            #if($stringUtilsTool.isNotBlank($!{dto.postAddress})) <li> <i class="i_dot_blue"></i> 地址：$!{dto.postAddress} </li> #end
            #if($stringUtilsTool.isNotBlank($!{dto.postCode})) <li> <i class="i_dot_blue"></i> 邮编：$!{dto.postCode} </li> #end
        </ul>
    </div>
    #end

    #if(${dto.bookNoticeFlag})
    <div class="buy_notes" id="attention">
        <h3 class="caption"><i class="icon i_notes"></i>购买须知</h3>
        #if(( ${dto.refundPoundage} != 0 && $!dto.limitRefundAdvance
        && $stringUtilsTool.isNotBlank($!{dto.refundDescription}))|| $stringUtilsTool.isNotBlank($!{dto.feeDescription}))
            <h4 class="notes_title" style="color:#ff0073">退票规则：</h4>
        #end
        <p class="notes_list" id="refunddesc">
            #parse('include/module/refundDesc.vm')
        </p>
        #if($!{dto.useDescription})
            <h4 class="notes_title">使用说明：</h4>
            <p class="notes_list">
                $!{dto.useDescription}
            </p>
        #end
        #if($stringUtilsTool.isNotBlank($!{dto.feeDescription}))
            <h4 class="notes_title">费用说明：</h4>
            <p class="notes_list">
                $!{dto.feeDescription}
            </p>
        #end
        #if($stringUtilsTool.isNotBlank($!{dto.bookInfo}))
            <h4 class="notes_title">预订须知：</h4>
            <p class="notes_list">
                $!{dto.bookInfo}
            </p>
        #end
        #if($stringUtilsTool.isNotBlank($!{dto.feeInclude}))
            <h4 class="notes_title">费用包含：</h4>
            <p class="notes_list">
                $!{dto.feeInclude}
            </p>
        #end
        #if($stringUtilsTool.isNotBlank($!{dto.feeExclude}))
            <h4 class="notes_title">费用不包含：</h4>
            <p class="notes_list">
                $!{dto.feeExclude}
            </p>
        #end
    </div>
    #end

</div>
</form>

</div>
<div class="content_side">
    <div class="side_section">
        <div class="side_content">
            <div class="side_belong">
                <div class="show">
                    <a href="http://piao.qunar.com/ticket/detail_${dto.encFirstSightId}.html" target="_blank" hidefocus="true" title="$!{dto.title}">
                        <img src="$!{dto.productPicUrl}" alt="$!{dto.title}"  width="220" height="140" /></a>
                </div>
                <dl class="intro clrfix">
                    <dt>所属景区：</dt>
                    <dd>
                        <div class="">
                            #foreach($sight in $dto.productSights)
                                <a href="${sight.sightDetailUrl}" target="_blank" hidefocus="true" class="do_blue">$!{sight.sightName}</a>
                            #end
                        </div>
                    </dd>
                    #if($dto.productSights.size() == 1 && "$!dto.productSights[0].sightAddress"!="")
                        <dt>景点地址：</dt><dd><address>${dto.productSights[0].sightAddress}</address></dd>
                    #end
                </dl>
            </div>
        </div>
    </div>
    <div class="side_section">
        <div class="side_caption">供应商信息</div>
        <div class="side_content">
            <div class="supplier_info">
                <div class="supplier_item"><i class="icon i_man"></i>$!{dto.supplierShopName}</div>
                <div class="supplier_item">
                    <i class="icon i_phone"></i>
                    #if($dto.supplierTelephones.size()>0)
                        联系方式
                    #end
                </div>
                <ul class="supplier_item_des">
                    #foreach($tel in $dto.supplierTelephones)
                        <li>
                            <i class="i_dot_blue"></i>
                                        <span>$!{tel.telephone}
                                            #if("$!tel.extension"!="")<b>转 ${tel.extension}</b>#end
                                        </span><br/>
                            #if("$!tel.serviceTime"!="")<span class="txt_gray">工作时间：${tel.serviceTime}</span>#end
                        </li>
                    #end
                </ul>
                #if($stringUtilsTool.isNotBlank($!{dto.supplierOnlineCustomService}))
                    <div class="supplier_item do_blue" data-tq-id="1"><i class="icon i_ol"></i>在线客服</div>
                #end
            </div>
        </div>
    </div>

</div>
</div>
</div>
</div>
<!--统一footer嵌套于此行后-->
<div class="tts_footer">
    <p>$!{dto.supplierCorpName} 版权所有 © icp</p>
    <p>通信地址：$!{dto.supplierAddress}  </p>
</div>

    #if($!{dto.orderSue}) )
    <div class="tips_common" data-for-tip-id="sue-status" style="display:none;top:600px;left:430px">
        <!-- 定位时设置style="left:100px;top:100px;" -->
        <div class="tips_common_c" style="overflow-y:auto;overflow-x:hidden;">
            <p>申诉时间：$!dateTool.format("yyyy-MM-dd HH:mm",$!{dto.orderSue.gmtCreated})</p>
            <p>申诉理由：$!{dto.orderSue.sueReason}</p>
            <p>处理结果：$!{dto.orderSue.sueStatus.displaySueStatus}</p>
            <p>处理说明：$!{dto.orderSue.remark}</p>
        </div>
        <div class="diy_arrow gray"><b class="line line_5px"></b><b class="line line_4px"></b><b class="line line_3px"></b><b class="line line_2px"></b><b class="line line_1px"></b><b class="line line_0px"></b></div>
    </div>
    #end


    #if(($!{dto.refundMoneyTrace} && ${dto.refundMoneyTrace.size()}>0) || ${dto.useQuantity}>0)
    <div class="tips_common" data-for-tip-id="order-status" style="display:none;top:4000px;">
        <!-- 定位时设置style="left:100px;top:100px;" -->
        <div class="tips_common_c" style="overflow-y:auto;overflow-x:hidden;">
            #if(${dto.useQuantity} > 0)
                <h5 class="refund_steps_caption">消费详情</h5>
                <div class="refund_steps_list">
                    <div class="refund_step_one_inner">
                        <div class="refund_info_list clrfix">
                            <div class="label txt_gray">使用张数：</div>
                            <div class="content"><span>$!{dto.useQuantity}张</span><strong class="price txt_orange">&yen;<em>$!{dto.useMoney}</em></strong></div>
                        </div>
                    </div>
                </div>
            #end

            #if(${dto.refundMoneyTrace} && ${dto.refundMoneyTrace.size()}>0 )
                <h5 class="refund_steps_caption">退款详情</h5>
                <div class="refund_steps_list">
                    #foreach($moneyTrace in ${dto.refundMoneyTrace})
                        <div class="refund_step_one_inner">
                            <div class="refund_info_list clrfix">
                                <div class="label txt_gray">退款申请时间：</div>
                                <div class="content"><span>$!dateTool.format("yyyy-MM-dd HH:mm",$!{moneyTrace.createTime})</span></div>
                            </div>
                            #if(${moneyTrace.refundStatus} != 'REFUND_SUCCESS' || ${moneyTrace.refundStatus} != 'REFUND_OFFLINE')
                                <div class="refund_info_list clrfix">
                                    <div class="label txt_gray">退款申请金额：</div>
                                    <div class="content"><span>
                                    $!{moneyTrace.applyRefundQuantity}张
                                    <strong class="price">&yen;<em>$!numberTool.format($!math.div($!{moneyTrace.applyRefundMoney},100))</em></strong>
                                    #if(${moneyTrace.retainMoney} > 0 || ${moneyTrace.couponMoney} > 0)
                                        （
                                        #if(${moneyTrace.retainMoney} > 0)
                                        	已扣除<strong class="price txt_orange">&yen;<em>$numberTool.format($math.div(${moneyTrace.retainMoney},100))</em></strong>手续费，
                                        #end
                                        #if(${moneyTrace.couponMoney} > 0)
                                        	需扣除<strong class="price txt_orange">&yen;<em>$numberTool.format($math.div(${moneyTrace.couponMoney},100))</em></strong>代金券，
                                        #end
                                        用户实际获得现金<strong class="price txt_orange">&yen;<em>$numberTool.format($math.div($math.sub(${moneyTrace.applyRefundMoney},${moneyTrace.couponMoney}),100))</em></strong>）
                                    #end
                                    </span></div>
                                </div>
                            #end
                            <div class="refund_info_list clrfix">
                                <div class="label txt_gray">申请原因：</div>
                                <div class="content"><span>$!{moneyTrace.refundReason}</span></div>
                            </div>
                            #if(${moneyTrace.refundDesc} != '')
                                <div class="refund_info_list clrfix">
                                    <div class="label txt_gray">退款描述：</div>
                                    <div class="content"><span>$!{moneyTrace.refundDesc}</span></div>
                                </div>
                            #end

                            #if(${moneyTrace.refundStatus} == 'REFUND_SUCCESS' || ${moneyTrace.refundStatus} == 'REFUND_OFFLINE')
                                <div class="refund_info_list clrfix">
                                    <div class="label txt_gray">退款状态：</div>
                                    <div class="content"><span class="txt_green">$!{moneyTrace.refundStatusDisplay}</span></div>
                                </div>
                                <div class="refund_info_list_line"></div>
                                <div class="refund_info_list clrfix">
                                    <div class="label txt_gray">实际退款金额：</div>
                                    <div class="content">
                                        <span>$!{moneyTrace.refundQuantity}张</span>
                                        <strong class="price txt_orange">&yen;<em>$!numberTool.format($!math.div($!{moneyTrace.refundMoney},100))</em></strong>
                                        #if(${moneyTrace.retainMoney} > 0 || ${moneyTrace.couponMoney} > 0)
	                                        （
	                                        #if(${moneyTrace.retainMoney} > 0)
	                                        	已扣除<strong class="price txt_orange">&yen;<em>$numberTool.format($math.div(${moneyTrace.retainMoney},100))</em></strong>手续费，
	                                        #end
	                                        #if(${moneyTrace.couponMoney} > 0)
	                                        	需扣除<strong class="price txt_orange">&yen;<em>$numberTool.format($math.div(${moneyTrace.couponMoney},100))</em></strong>代金券，
	                                        #end
	                                        用户实际获得现金<strong class="price txt_orange">&yen;<em>$numberTool.format($math.div($math.sub(${moneyTrace.refundMoney},${moneyTrace.couponMoney}),100))</em></strong>）
	                                    #end
	                                </div>
                                </div>
                                <div class="refund_info_list clrfix">
                                    <div class="label txt_gray">退款成功时间：</div>
                                    <div class="content"><span>$!dateTool.format("yyyy-MM-dd HH:mm",$!{moneyTrace.operateTime})</span></div>
                                </div>
                                #if(${moneyTrace.refundJudgeMark} != '')
                                    <div class="refund_info_list clrfix">
                                        <div class="label txt_gray">退款处理说明：</div>
                                        <div class="content"><span>$!{moneyTrace.refundJudgeMark}</span></div>
                                    </div>
                                #end
                            #elseif(${moneyTrace.refundStatus} == 'APPLY_REJECT_BY_SUPPLIER' || ${moneyTrace.refundStatus} == 'APPLY_REJECT_BY_QUNAR')
                                <div class="refund_info_list clrfix">
                                    <div class="label txt_gray">退款状态：</div>
                                    <div class="content"><span class="txt_red">$!{moneyTrace.refundStatusDisplay}</span></div>
                                </div>
                                <div class="refund_info_list_line"></div>
                                <div class="refund_info_list clrfix">
                                    <div class="label txt_gray">退款处理说明：</div>
                                    <div class="content"><span>$!{moneyTrace.refundJudgeMark}</span></div>
                                </div>
                            #else
                                <div class="refund_info_list clrfix">
                                    <div class="label txt_gray">退款状态：</div>
                                    <div class="content"><span class="txt_black">$!{moneyTrace.refundStatusDisplay}</span></div>
                                </div>
                            #end
                        </div>

                    #end
                </div>
            #end
        </div>
        <div class="diy_arrow gray"><b class="line line_5px"></b><b class="line line_4px"></b><b class="line line_3px"></b><b class="line line_2px"></b><b class="line line_1px"></b><b class="line line_0px"></b></div>
    </div>
    #end
    #if($dto.canRefund)
    <div id="refunddesc" style="display: none;">
        #parse('include/module/refundDesc.vm')
    </div>
    #end

<script src="http://q.qunarzz.com/jquery/prd/jquery-1.7.2.min.js" type="text/javascript"></script>
<script src="http://q.qunarzz.com/piao_tts/prd/scripts/base@ba2d4c123cb3074278981e0c8d9afcba.js" type="text/javascript"></script>
<script src="http://q.qunarzz.com/piao_tts/prd/scripts/ocenter/orderdetailspage@fe3aba40cfc20c46aeb33e83b3768c57.js" type="text/javascript"></script>
<script type="text/javascript">
    window['_ba_utm_l'] = 'mp';
    window['_ba_utm_s'] = '959';

    window.context = {
        oid: '$!{dto.displayId}',
        tq:{'1':'$!{dto.supplierOnlineCustomService}'},
        api: "/website/order",
        soldOutDateset:"$!{dto.soldOutDateset}"
    };
    $(function() {
        (new tts.ocenter.OrderDetailsPageInit(window.context)).init();
    });
</script>
</body>
</html>
