<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (C) 2017 Baidu, Inc. All Rights Reserved.
  -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans         
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/tx        
	http://www.springframework.org/schema/tx/spring-tx.xsd
	http://www.springframework.org/schema/aop      
	http://www.springframework.org/schema/aop/spring-aop.xsd">
	
    <description>数据源配置</description>

	<!-- ======================================= -->
	<!-- 强制使用CGLIB代理 -->
	<!-- ======================================= -->
	<aop:aspectj-autoproxy proxy-target-class="true" />

	 <bean id="dataSource" class="org.apache.tomcat.jdbc.pool.DataSource" destroy-method="close">
        <property name="poolProperties">  
            <bean class="org.apache.tomcat.jdbc.pool.PoolProperties">    
                <property name="driverClassName" value="org.postgresql.Driver"/>  
                <property name="url" value="${database.url}"/>
                <property name="username" value="${database.username}"/>
                <property name="password" value="${database.password}"/>
                <property name="jmxEnabled" value="true"/>  
                <property name="testWhileIdle" value="true"/>  
                <property name="testOnBorrow" value="false"/>    
                <property name="testOnReturn" value="false"/>    
                <property name="validationInterval" value="30000"/>   
                <property name="validationQuery" value="SELECT 1"/>    
                <property name="timeBetweenEvictionRunsMillis" value="30000"/>    
                <property name="maxWait" value="60000"/>    
                <property name="minEvictableIdleTimeMillis" value="30000"/>    
                <property name="maxActive" value="${master.database.maxActive}"/>
                <property name="initialSize" value="${master.database.initialSize}"/>
                <property name="maxIdle" value="${master.database.maxIdle}"/>
                <property name="minIdle" value="5"/>
                <property name="removeAbandoned" value="true"/>    
                <property name="removeAbandonedTimeout" value="180"/>  
                <property name="logAbandoned" value="true"/>    
            </bean>    
        </property>    
    </bean>

	<!-- ======================================= -->
	<!--事务管理DataSourceTransactionManager -->
	<!-- ======================================= -->
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="nestedTransactionAllowed" value="true" />
	</bean>

	<!-- ======================================= -->
	<!--启动spring注解功能 -->
	<!-- ======================================= -->
	<tx:annotation-driven transaction-manager="transactionManager" order="9" />

	<!-- ======================================= -->
	<!-- sqlSessionFactory -->
	<!-- ======================================= -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="configLocation">
			<value>classpath:mapper.xml</value>
		</property>
		<property name="dataSource" ref="dataSource" />
        <property name="mapperLocations" value="classpath:mybatis/*.xml"/>
	</bean>

	<!-- ======================================= -->
	<!-- sqlSession For Mybatis -->
	<!-- ======================================= -->
	<bean id="sqlSession" class="com.szm.web.common.SqlSessionTemplate">
		<constructor-arg index="0" ref="sqlSessionFactory" />
	</bean>

	<!-- =========================================== -->
	<!-- 通过@Mapper注解的形式使用Mapper Interface -->
	<!-- =========================================== -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.szm.web.persistence.mapper" />
        <property name="markerInterface" value="org.mybatis.spring.mapper.MapperFactoryBean"></property>
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
	</bean>

    <!--<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">-->
        <!--<property name="basePackage" value="com.baidu.fsg.fccdata.dao"/>-->
        <!--<property name="markerInterface" value="org.mybatis.spring.mapper.MapperFactoryBean"></property>-->
        <!--<property name="annotationClass" value="com.baidu.bjf.orm.mybatis.SqlMapper"></property>-->
        <!--<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>-->
    <!--</bean>-->

</beans>
