<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<title>门票订单支付</title>
#include('layout/headerInclude.vm')
<style type="text/css">
/*reset*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
html{min-width:990px}
body{font:normal 14px/1.231 Arial,sans-serif;background:#fff;color:#777}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:"";content:none}
table{border-collapse:collapse;border-spacing:0}
th,td,strong{font-weight:400}
em{font-style:normal}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:400}
a{color:#0596d3;text-decoration:none;outline:none}
a:hover{text-decoration:underline}
.clr,.clear{clear:both;height:0;overflow:hidden}
.clrfix{zoom:1}
.clrfix:after{clear:both;display:block;height:0;visibility:hidden;content:"."}
/*patch*/
b{margin:0 6px;font-size:16px;font-weight:700;color:#0596d3}
strong{margin-left:6px;font-weight:700;color:#f00}
strong a{color:#f00}
b a{color:#0596d3}
/*layout*/
.wrap{width:990px;margin:180px auto 0;text-align:center}
.main{width:285px;margin:0 auto 50px}
.title{font-size:14px;font-weight:700;text-align:left;color:#f60}
.one{overflow:hidden;width:285px;white-space:nowrap;text-overflow:ellipsis}
.title span,
.title em{float:left}
.title span{width:46px}
.title em{width:239px}
.load{margin-top:8px;border:1px solid #888;padding:16px 0;font-size:12px}
.loading,
.loaded{overflow:hidden;height:10px}
.loading{width:124px;margin:8px auto 10px;background:#f1faff}
.loaded{width:0;background:#03a0e2}
.foot{padding:12px 0;background:#efefe6}
.foot div{margin-top:10px;font-weight:700}
</style>
</head>

<body>
	<div class="wrap">
        <div class="main">
            <div class="load">
                <p>即将进入支付页面，请稍候</p>
                <div style="padding:10px;"><img style="width:52px;" src="http://source.qunar.com/piao/images/loading_camel.gif" alt="加载中。。。" /></div>
                <p><b>支付跳转中...</b></p>
            </div>
        </div>
    </div>
    <form id="goToTheThirdPartyPaymentPage" method="post" action="$!orderPayDto.postUrl">
        <input type="hidden" name="version" id="version" value="$!orderPayDto.version" />
        <input type="hidden" name="busiTypeId" id="busiTypeId" value="$!orderPayDto.busiTypeId" />
        <input type="hidden" name="merchantCode" id="merchantCode" value="$!orderPayDto.merchantCode" />
        <input type="hidden" name="transTypeId" id="transTypeId" value="$!orderPayDto.transTypeId" />
        <input type="hidden" name="orderNo" id="orderNo" value="$!orderPayDto.orderNo" />
        <input type="hidden" name="orderDate" id="orderDate" value="$!orderPayDto.orderDate" />
        <input type="hidden" name="orderAmount" id="orderAmount" value="$!orderPayDto.orderAmount" />
        <input type="hidden" name="productName" id="productName" value="" />
        <input type="hidden" name="productId" id="productId" value="$!orderPayDto.productId" />
        <input type="hidden" name="productDetail" id="productDetail" value="" />
        <input type="hidden" name="shareData" id="shareData" value="$!orderPayDto.shareData" />
        <input type="hidden" name="payType" id="payType" value="$!orderPayDto.payType" />
        <input type="hidden" name="curId" id="curId" value="$!orderPayDto.curId" />
        <input type="hidden" name="checkUrl" id="checkUrl" value="$!orderPayDto.checkUrl" />
        <input type="hidden" name="busiOrderno" id="busiOrderno" value="$!orderPayDto.busiOrderno" />
        <input type="hidden" name="pageRetUrl" id="pageRetUrl" value="$!orderPayDto.pageRetUrl" />
        <input type="hidden" name="bgRetUrl" id="bgRetUrl" value="$!orderPayDto.bgRetUrl" />
        <input type="hidden" name="validTime" id="validTime" value="$!orderPayDto.validTime" />
        <input type="hidden" name="promoteDetail" id="promoteDetail" value=""/>
        <input type="hidden" name="ext" id="ext" value="$!orderPayDto.ext" />
        <input type="hidden" name="HMAC" id="HMAC" value="$!orderPayDto.hmac" />
    </form>
	
	<script type="text/javascript">
        var productName = "$orderPayDto.productName";
        var productDetail = "$orderPayDto.productDetail";
        var promoteDetail = "$orderPayDto.promoteDetail";
        document.getElementById("productName").value = productName;
		document.getElementById("productDetail").value = productDetail;
        document.getElementById("promoteDetail").value = promoteDetail;
    	document.getElementById("goToTheThirdPartyPaymentPage").submit();
	</script>
</body>
</html>