<!--
现付，预付，从发入园凭证
-->
<smsContent>
    #if(${orderEticketType}=='Q_CODE')
        您好，请持以下电子票号至景区验证入园，【电子票号：${orderEticket}】。#{if}(${passMessageInfo})$!{passMessageInfo}。#{end}如有疑问请联系服务商${supplierShopName} ${supplierTel}。查询订单请访问：${touchUrl}
    #else
        您的电子码或入园方式是：【${orderEticket}】，#{if}(${passMessageInfo})$!{passMessageInfo}。#{end}如有疑问请联系服务商${supplierShopName} ${supplierTel}。查询订单请访问：${touchUrl}
    #end
</smsContent>