<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <title>开发工具箱</title>
    <meta name="keywords" content="Qunar管理员后台">
    <meta name="description" content="Qunar管理员后台">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="http://q.qunarzz.com/piao_tts/prd/styles/usage/www/page/tool/v3/style@ver.css">
</head>
<body>
<h1 class="mp-caption">开发工具箱</h1>
<div class="mp-content">
    <div class="mp-tabs" id="tabs">
        #foreach($member in $map.entrySet())
        <div>${member.value.name}</div>
        #end
    </div>

    <div class="mp-form-list">
        #foreach($member in $map.entrySet())
        <form action="$member.value.url" method="post" class="mp-form" mp-role="toolForm">
            <div class="mp-form-caption">
                <span>${member.value.name}: $member.value.url</span>
            </div>

            #foreach($parameter in $member.value.parameters)
            <div class="mp-form-items">
                <label for="$parameter">$parameter：</label>
                <input type="text" id="$parameter" name="$parameter" />
            </div>
            #end

            <div class="mp-button-container">
                <input type="button" value="提交" mp-role="submitButton" class="btn btn_orange" /></th>
            </div>
        </form>
        #end
    </div>
    <div id="responseInfo"></div>
</div>
<script src="http://q.qunarzz.com/jquery/prd/jquery-1.7.2.min.js" charset="utf-8"></script>
<script src="http://q.qunarzz.com/piao_tts/prd/scripts/base@ver.js" charset="utf-8"></script>
<script src="http://q.qunarzz.com/piao_tts/prd/scripts/cpanel/cpanel@ver.js" charset="utf-8"></script>
<script src="http://q.qunarzz.com/piao_tts/prd/scripts/cpanel/tool/page@ver.js" charset="utf-8"></script>
<script type="text/javascript">
    window.context = {
        permission: "qadmin"
    };

    (new tts.cpanel.tool.Page(window.context)).init();
</script>
</body>
</html>
