<!--
预付，日历，出票成功，用户
-->
<smsContent>
    #{if}($!{partner} == "HOTEL" || $!{partner} == "SPU_TICKET_HOTEL")
        您购买的${productTitle}已出票成功！订单号：${orderDisplayId},(入住时间：${hotelConsumeTime}),游玩时间：${hotelPiaoConsumeTime}。请凭电子票[${orderEticket}]入园。 如有疑问，请咨询服务商${supplierShopName} ${supplierTel}。
    #{else}
        您购买的${productTitle}已出票成功！订单号：${orderDisplayId},游玩时间：${takeOffDate}。请凭电子票[${orderEticket}]入园。 如有疑问，请咨询服务商${supplierShopName} ${supplierTel}。
    #{end}
</smsContent>