<!--
用户申请退款，用户
-->
<smsContent>
您购买的【${productTitle}】（订单号${orderDisplayId}， 总金额${orderOrigin}元）已申请退款${orderRefundMoney}元，#if(${straightSaleType}==2)【去哪儿直销】#elseif(${straightSaleType}==1)【景区官方直销】#{else}服务商【${supplierShopName}】#end 将在${autoRefundTime}为您审核退款申请。如有疑问，请咨询：${supplierTel}
</smsContent>
