<!--
拒绝退款，用户
-->
<smsContent>
    您好，您的订单【${productTitle}】（订单号${orderDisplayId}，订单金额${orderOrigin}元 ），退款申请已被#if(${straightSaleType}==2)【去哪儿直销】#elseif(${straightSaleType}==1)【景区官方直销】#{else}服务商【${supplierShopName}】#end 拒绝。如有任何疑问，请咨询：${supplierTel}。
</smsContent>
