<!--
预付，出票成功，供应商
-->

<smsContent>
    #{if}($!{partner} == "HOTEL" || $!{partner} == "SPU_TICKET_HOTEL")
        【新】${productTitle}。(入住时间：${hotelConsumeTime}),${hotelPiaoConsumeTime}入园。${orderQuantity}份。#if($!{userContactName})联系人：${userContactName}，#{end}${userContact}。
    #{else}
        【新】${productTitle}。${takeOffDate}入园。${orderQuantity}份。#if($!{userContactName})联系人：${userContactName}，#{end}${userContact}。
    #{end}
</smsContent>

