<!doctype html>
<html>
<head>
    <title>Qunar管理员后台</title>
    <meta name="keywords" content="Qunar管理员后台">
    <meta name="description" content="Qunar管理员后台">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="http://q.qunarzz.com/piao_tts/prd/styles/v2/list@12d870584660f131bd2807926611a4c7.css">
    <style type="text/css">
        .export-text {font-size:14px;font-weight:bold;margin-top:30px;}
		.warn {color:#F00;}
        .num_control {position:relative;top:8px;}
    </style>
</head>
<body>

<h3 class="caption"><i class="sign"></i>门票财务报表</h3>
<form action="/sadmin/settlement/downloadMonthFinancial" method="get" id="form1">
    <input type="hidden" value="" id="date" name="date">
    <table class="export-text">
        <tr>
            <td width="80"><lable>报表时间:</lable></td>
            <td><input type="input" id="year"></td>
            <td width="30">年</td>
            <td><input type="input" id="month" min="1" max="12"></td>
            <td width="30">月</td>
            <td><input type="submit" value="导出"  class="btn btn_orange"></td>
			#if($status == 'error')
			<td>
				<div class="warn">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$!errmsg</div>
			</td>
			#end
        </tr>
    </table>
</form>

<script src="http://q.qunarzz.com/jquery/prd/jquery-1.7.2.min.js" type="text/javascript" charset="utf-8"></script>
<script src="http://q.qunarzz.com/piao_tts/prd/scripts/base@ba2d4c123cb3074278981e0c8d9afcba.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    (function()
    {
        var nowDate = new Date();
        $("#year").val(nowDate.getFullYear());
        $("#month").val(nowDate.getMonth()+1);

        var arr = ["year", "month"];
        for(var i=0;i<arr.length;i++)
        {
            var input = new $.ui.NumberInput();
            input.setUseButton(true);
            input.decorate( document.getElementById(arr[i]) );
        }

        $("#form1").submit(function()
        {
            $("#date").val( $("#year").val() +"-"+ $("#month").val());
        });
    })();
</script>
</body>
</html>