<table class="content_table">
    <tr>
        <th><label for="input-91">销售经理：</label></th>
        <td>
            <div class="cont_tab_unit">
                #if( $!{supplierInfo.supplierQunarSaleContactInfos} && $!{supplierInfo.supplierQunarSaleContactInfos.size()}!=0)
                    #foreach(${item} in ${supplierInfo.supplierQunarSaleContactInfos})
                        <div class="contactContainer">
                            <input type="text" name="supplierQunarSaleContactInfos[].username" value="$!{item.username}" data-jvalidator-pattern="min_length[1]&max_length[10]"  data-jvalidator-errmsg="联系人名称必须是10字以内，不能为空" class="input_large"  placeholder="联系人姓名" disabled />
                            <input type="text" name="supplierQunarSaleContactInfos[].mobile" value="$!{item.mobile}" data-jvalidator-pattern="phone"  data-jvalidator-errmsg="请输入正确的手机号码" class="input_large" placeholder="联系人手机" disabled />
                            <input type="text" name="supplierQunarSaleContactInfos[].tel" value="$!{item.tel}" data-jvalidator-pattern="required"  data-jvalidator-errmsg="请输入电话号码" class="input_large" placeholder="联系人电话" disabled/>
                            <input type="text" name="supplierQunarSaleContactInfos[].mail" value="$!{item.mail}" class="input_large" placeholder="邮箱地址" disabled />
                            <input type="text" name="supplierQunarSaleContactInfos[].qq" value="$!{item.qq}" class="input_large" placeholder="QQ" disabled />
                            <input type="hidden" name="supplierQunarSaleContactInfos[].id" value="$!{item.id}" />
                        </div>
                    #end
                #end
            </div>
        </td>
    </tr>
    <tr>
        <th><span class="must_be">*</span>运营：</th>
        <td>
            <div class="cont_tab_unit">
                #if( $!{supplierInfo.supplierQunarStaffContactInfos} && $!{supplierInfo.supplierQunarStaffContactInfos.size()}!=0)
                    #foreach(${item} in ${supplierInfo.supplierQunarStaffContactInfos})
                        <div class="contactContainer">
                            <input type="text" name="supplierQunarStaffContactInfos[].username" value="$!{item.username}" data-jvalidator-pattern="min_length[1]&max_length[10]"  data-jvalidator-errmsg="联系人名称必须是10字以内，不能为空" class="input_large"  placeholder="联系人姓名" disabled />
                            <input type="text" name="supplierQunarStaffContactInfos[].mobile" value="$!{item.mobile}" data-jvalidator-pattern="phone"  data-jvalidator-errmsg="请输入正确的手机号码" class="input_large" placeholder="联系人手机" disabled />
                            <input type="text" name="supplierQunarStaffContactInfos[].tel" value="$!{item.tel}" data-jvalidator-pattern="required"  data-jvalidator-errmsg="请输入电话号码" class="input_large" placeholder="联系人电话" disabled/>
                            <input type="text" name="supplierQunarStaffContactInfos[].mail" value="$!{item.mail}" class="input_large" placeholder="邮箱地址" disabled />
                            <input type="text" name="supplierQunarStaffContactInfos[].qq" value="$!{item.qq}" class="input_large" placeholder="QQ" disabled />
                            <input type="hidden" name="supplierQunarStaffContactInfos[].id" value="$!{item.id}" />
                        </div>
                    #end
                #end
            </div>
        </td>
    </tr>
    <tr>
        <th><span class="must_be">*</span>运营经理：</th>
        <td>
            <div class="cont_tab_unit">
                #if( $!{supplierInfo.supplierQunarManagerContactInfos} && $!{supplierInfo.supplierQunarManagerContactInfos.size()}!=0)
                    #foreach(${item} in ${supplierInfo.supplierQunarManagerContactInfos})
                        <div class="contactContainer">
                            <input type="text" name="supplierQunarManagerContactInfos[].username" value="$!{item.username}" data-jvalidator-pattern="min_length[1]&max_length[10]"  data-jvalidator-errmsg="联系人名称必须是10字以内，不能为空" class="input_large"  placeholder="联系人姓名" disabled />
                            <input type="text" name="supplierQunarManagerContactInfos[].mobile" value="$!{item.mobile}" data-jvalidator-pattern="phone"  data-jvalidator-errmsg="请输入正确的手机号码" class="input_large" placeholder="联系人手机" disabled />
                            <input type="text" name="supplierQunarManagerContactInfos[].tel" value="$!{item.tel}" data-jvalidator-pattern="required"  data-jvalidator-errmsg="请输入电话号码" class="input_large" placeholder="联系人电话" disabled/>
                            <input type="text" name="supplierQunarManagerContactInfos[].mail" value="$!{item.mail}" class="input_large" placeholder="邮箱地址" disabled />
                            <input type="text" name="supplierQunarManagerContactInfos[].qq" value="$!{item.qq}" class="input_large" placeholder="QQ" disabled />
                            <input type="hidden" name="supplierQunarManagerContactInfos[].id" value="$!{item.id}" />
                        </div>
                    #end
                #end
            </div>
        </td>
    </tr>
    <tr>
        <th><span class="must_be">*</span>结算专员：</th>
        <td>
            <div class="cont_tab_unit">
                #if( $!{supplierInfo.supplierQunarSettleContactInfos} && $!{supplierInfo.supplierQunarSettleContactInfos.size()}!=0)
                    #foreach(${item} in ${supplierInfo.supplierQunarSettleContactInfos})
                        <div class="contactContainer">
                            <input type="text" name="supplierQunarSettleContactInfos[].username" value="$!{item.username}" data-jvalidator-pattern="min_length[1]&max_length[10]"  data-jvalidator-errmsg="联系人名称必须是10字以内，不能为空" class="input_large"  placeholder="联系人姓名" disabled />
                            <input type="text" name="supplierQunarSettleContactInfos[].mobile" value="$!{item.mobile}" data-jvalidator-pattern="phone"  data-jvalidator-errmsg="请输入正确的手机号码" class="input_large" placeholder="联系人手机" disabled />
                            <input type="text" name="supplierQunarSettleContactInfos[].tel" value="$!{item.tel}" data-jvalidator-pattern="required"  data-jvalidator-errmsg="请输入电话号码" class="input_large" placeholder="联系人电话" disabled/>
                            <input type="text" name="supplierQunarSettleContactInfos[].mail" value="$!{item.mail}" class="input_large" placeholder="邮箱地址" disabled />
                            <input type="text" name="supplierQunarSettleContactInfos[].qq" value="$!{item.qq}" class="input_large" placeholder="QQ" disabled />
                            <input type="hidden" name="supplierQunarSettleContactInfos[].id" value="$!{item.id}" />
                        </div>
                    #end
                #end
            </div>
        </td>
    </tr>
</table>