<tr>
    <th><label>公司负责人：</label></th>
    <td>
        <div class="cont_tab_unit">
            #if( $!{supplierInfo.supplierLeadingOfficials} && $!{supplierInfo.supplierLeadingOfficials.size()}!=0)
                #foreach(${item} in ${supplierInfo.supplierLeadingOfficials})
                    <div class="contactContainer">
                        <input type="text" name="supplierLeadingOfficials[].name" value="$!{item.name}" data-jvalidator-pattern="min_length[1]&max_length[10]"  data-jvalidator-errmsg="供应商联系人名称必须是10字以内，不能为空" class="input_larg}e"  placeholder="联系人姓名"/>
                        <input type="text" name="supplierLeadingOfficials[].telephone" value="$!{item.telephone}" data-jvalidator-pattern="phone"  data-jvalidator-errmsg="请输入正确的手机号码" class="input_large" placeholder="联系人手机"/>
                        <input type="text" name="supplierLeadingOfficials[].email" value="$!{item.email}" class="input_large" data-jvalidator-pattern="email"  data-jvalidator-errmsg="请输入正确的邮箱地址" placeholder="邮箱地址"/>
                        <input type="text" name="supplierLeadingOfficials[].qq" value="$!{item.qq}" class="input_large" data-jvalidator-pattern="numeric"  data-jvalidator-errmsg="请输入正确的QQ" placeholder="QQ"/>
                        <a href="javascript:void(0)" hidefocus="true" class="do_link m10l del-contact"><i class="icon i_multi"></i>删除</a>
                    </div>
                #end
            #else
                <div class="contactContainer">
                    <input type="text" name="supplierLeadingOfficials[].name"  data-jvalidator-pattern="min_length[1]&max_length[10]"  data-jvalidator-errmsg="供应商联系人名称必须是10字以内，不能为空" class="input_larg}e"  placeholder="联系人姓名"/>
                    <input type="text" name="supplierLeadingOfficials[].telephone"  data-jvalidator-pattern="phone"  data-jvalidator-errmsg="请输入正确的手机号码" class="input_large"  placeholder="联系人手机"/>
                    <input type="text" name="supplierLeadingOfficials[].email"  class="input_large" data-jvalidator-pattern="email"  data-jvalidator-errmsg="请输入正确的邮箱地址" placeholder="邮箱地址"/>
                    <input type="text" name="supplierLeadingOfficials[].qq"  class="input_large"  data-jvalidator-pattern="numeric"  data-jvalidator-errmsg="请输入正确的QQ" placeholder="QQ"/>
                    <a href="javascript:void(0)" hidefocus="true" class="do_link m10l del-contact"><i class="icon i_multi"></i>删除</a>
                </div>
            #end
        </div>
        <a href="javascript:void(0)" hidefocus="true" class="do_link contact_add" data-add-type="supplierLeadingOfficials"><i class="icon i_plus"></i>新增</a>
    ##                <a href="javascript:void(0)" hidefocus="true" id="supplierLeadingOfficialbutton" class="contact_add" data-add-type="supplierLeadingOfficials"><span>+</span></a>
    </td>
</tr>
<tr>
    <th><label>日常运营：</label></th>
    <td>
        <div class="cont_tab_unit">
            #if( $!{supplierInfo.supplierOperations} && $!{supplierInfo.supplierOperations.size()}!=0)
                #foreach(${item} in ${supplierInfo.supplierOperations})
                    <div class="contactContainer">
                        <input type="text" name="supplierOperations[].name" value="$!{item.name}" data-jvalidator-pattern="min_length[1]&max_length[10]"  data-jvalidator-errmsg="供应商联系人名称必须是10字以内，不能为空" class="input_large" placeholder="联系人姓名"/>
                        <input type="text" name="supplierOperations[].telephone" value="$!{item.telephone}" data-jvalidator-pattern="phone"  data-jvalidator-errmsg="请输入正确的手机号码" class="input_large"  placeholder="联系人手机"/>
                        <input type="text" name="supplierOperations[].email" value="$!{item.email}" class="input_large" data-jvalidator-pattern="email"  data-jvalidator-errmsg="请输入正确的邮箱地址" placeholder="邮箱地址"/>
                        <input type="text" name="supplierOperations[].qq" value="$!{item.qq}" class="input_large"  data-jvalidator-pattern="numeric"  data-jvalidator-errmsg="请输入正确的QQ" placeholder="QQ"/>
                        <a href="javascript:void(0)" hidefocus="true" class="do_link m10l del-contact"><i class="icon i_multi"></i>删除</a>
                    </div>
                #end
            #else
                <div class="contactContainer">
                    <input type="text" name="supplierOperations[].name"  data-jvalidator-pattern="min_length[1]&max_length[10]"  data-jvalidator-errmsg="供应商联系人名称必须是10字以内，不能为空" class="input_large"  placeholder="联系人姓名"/>
                    <input type="text" name="supplierOperations[].telephone"  data-jvalidator-pattern="phone"  data-jvalidator-errmsg="请输入正确的手机号码" class="input_large" placeholder="联系人手机"/>
                    <input type="text" name="supplierOperations[].email"  class="input_large"  data-jvalidator-pattern="email"  data-jvalidator-errmsg="请输入正确的邮箱地址" placeholder="邮箱地址"/>
                    <input type="text" name="supplierOperations[].qq"  class="input_large"  data-jvalidator-pattern="numeric"  data-jvalidator-errmsg="请输入正确的QQ" placeholder="QQ"/>
                    <a href="javascript:void(0)" hidefocus="true" class="do_link m10l del-contact"><i class="icon i_multi"></i>删除</a>
                </div>
            #end
        </div>
        <a href="javascript:void(0)" hidefocus="true" class="do_link contact_add" data-add-type="supplierOperations"><i class="icon i_plus"></i>新增</a>
    ##                <a href="javascript:void(0)" hidefocus="true" id="supplierOperationbutton" class="contact_add" data-add-type="supplierOperations"><span>+</span></a>
    </td>
</tr>
<tr>
    <th><label>财务负责人：</label></th>
    <td>
        <div class="cont_tab_unit">
            #if( $!{supplierInfo.supplierFinancialPersons} && $!{supplierInfo.supplierFinancialPersons.size()}!=0)
                #foreach(${item} in ${supplierInfo.supplierFinancialPersons})
                    <div class="contactContainer">
                        <input type="text" name="supplierFinancialPersons[].name" value="$!{item.name}" data-jvalidator-pattern="min_length[1]&max_length[10]"  data-jvalidator-errmsg="供应商联系人名称必须是10字以内，不能为空" class="input_large" placeholder="联系人姓名"/>
                        <input type="text" name="supplierFinancialPersons[].telephone" value="$!{item.telephone}" data-jvalidator-pattern="phone"  data-jvalidator-errmsg="请输入正确的手机号码" class="input_large"  placeholder="联系人手机"/>
                        <input type="text" name="supplierFinancialPersons[].email" value="$!{item.email}" class="input_large" data-jvalidator-pattern="email"  data-jvalidator-errmsg="请输入正确的邮箱地址" placeholder="邮箱地址"/>
                        <input type="text" name="supplierFinancialPersons[].qq" value="$!{item.qq}" class="input_large"  data-jvalidator-pattern="numeric"  data-jvalidator-errmsg="请输入正确的QQ" placeholder="QQ"/>
                        <a href="javascript:void(0)" hidefocus="true" class="do_link m10l del-contact"><i class="icon i_multi"></i>删除</a>
                    </div>
                #end

            #else
                <div class="contactContainer">
                    <input type="text" name="supplierFinancialPersons[].name"  data-jvalidator-pattern="min_length[1]&max_length[10]"  data-jvalidator-errmsg="供应商联系人名称必须是10字以内，不能为空" class="input_large" placeholder="联系人姓名"/>
                    <input type="text" name="supplierFinancialPersons[].telephone"  data-jvalidator-pattern="phone"  data-jvalidator-errmsg="请输入正确的手机号码" class="input_large" placeholder="联系人手机"/>
                    <input type="text" name="supplierFinancialPersons[].email" class="input_large" data-jvalidator-pattern="email"  data-jvalidator-errmsg="请输入正确的邮箱地址" placeholder="邮箱地址"/>
                    <input type="text" name="supplierFinancialPersons[].qq"  class="input_large" data-jvalidator-pattern="numeric"  data-jvalidator-errmsg="请输入正确的QQ" placeholder="QQ"/>
                    <a href="javascript:void(0)" hidefocus="true" class="do_link m10l del-contact"><i class="icon i_multi"></i>删除</a>
                </div>
            #end
        </div>
        <a href="javascript:void(0)" hidefocus="true" class="do_link contact_add" data-add-type="supplierFinancialPersons"><i class="icon i_plus"></i>新增</a>
    ##                <a href="javascript:void(0)" hidefocus="true" id="supplierFinancialPersonbutton" class="contact_add" data-add-type="supplierLeadingOfficial"><span>+</span></a>
    </td>
</tr>
<tr>
    <th><label><span class="must_be">*</span>紧急联系人：</label></th>
    <td>
        <div class="cont_tab_unit">
            #if( $!{supplierInfo.supplierContacts} && $!{supplierInfo.supplierContacts.size()}!=0)
                #foreach(${item} in ${supplierInfo.supplierContacts})
                    <div class="contactContainer">
                        <input type="text" name="supplierContacts[].name"  value="$!{item.name}" data-jvalidator-pattern="min_length[1]&max_length[10]"  data-jvalidator-errmsg="供应商联系人名称必须是10字以内，不能为空" class="input_large"  placeholder="联系人姓名"/>
                        <input type="text" name="supplierContacts[].telephone"  value="$!{item.telephone}" data-jvalidator-pattern="phone"  data-jvalidator-errmsg="请输入正确的手机号码" class="input_large" placeholder="联系人手机"/>
                        <input type="text" name="supplierContacts[].email"  value="$!{item.email}" class="input_large"  data-jvalidator-pattern="email"  data-jvalidator-errmsg="请输入正确的邮箱地址" placeholder="邮箱地址"/>
                        <input type="text" name="supplierContacts[].qq"  value="$!{item.qq}" class="input_large"  data-jvalidator-pattern="numeric"  data-jvalidator-errmsg="请输入正确的QQ" placeholder="QQ"/>
                        <a href="javascript:void(0)" hidefocus="true" class="do_link m10l del-contact"><i class="icon i_multi"></i>删除</a>
                    </div>
                #end
            #else
                <div class="contactContainer">
                    <input type="text" name="supplierContacts[].name"  data-jvalidator-pattern="min_length[1]&max_length[10]"  data-jvalidator-errmsg="供应商联系人名称必须是10字以内，不能为空" class="input_large" placeholder="联系人姓名"/>
                    <input type="text" name="supplierContacts[].telephone"   data-jvalidator-pattern="phone"  data-jvalidator-errmsg="请输入正确的手机号码" class="input_large"  placeholder="联系人手机"/>
                    <input type="text" name="supplierContacts[].email"   class="input_large"  data-jvalidator-pattern="email"  data-jvalidator-errmsg="请输入正确的邮箱地址" placeholder="邮箱地址"/>
                    <input type="text" name="supplierContacts[].qq"   class="input_large"   data-jvalidator-pattern="numeric"  data-jvalidator-errmsg="请输入正确的QQ" placeholder="QQ"/>
                    <a href="javascript:void(0)" hidefocus="true" class="do_link m10l del-contact"><i class="icon i_multi"></i>删除</a>
                </div>
            #end
        </div>
        <a href="javascript:void(0)" hidefocus="true" class="do_link contact_add" data-add-type="supplierContacts"><i class="icon i_plus"></i>新增</a>
    ##                <a href="javascript:void(0)" hidefocus="true" id="supplierContactbutton" class="contact_add" data-add-type="supplierContacts"><span>+</span></a>
    </td>
</tr>