<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>QUNAR门票管理后台</title>
<meta name="keywords" content="Qunar管理员后台">
<meta name="description" content="Qunar管理员后台">
    <!--older css for content-->
    <link rel="stylesheet" type="text/css" href="http://q.qunarzz.com/piao_tts/prd/styles/v2/home@a7e624f97710629cb06f2088bc685386.css">
    <link rel="stylesheet" type="text/css" href="http://q.qunarzz.com/piao_tts/prd/styles/v2/list@12d870584660f131bd2807926611a4c7.css">
    <link rel="stylesheet" type="text/css" href="http://q.qunarzz.com/piao_tts/prd/styles/v2/new@ce09f9018ec5e80445caf67ce0aa2678.css">
    <link rel="stylesheet" type="text/css" href="http://q.qunarzz.com/piao_tts/prd/styles/v2/friendly_corner@27b3c3bc10779b4c9382c7425f05d208.css">

    <!--new css for head-->
    <link rel="stylesheet" href="http://q.qunarzz.com/piao_tts/prd/styles/usage/www/core/global@c9fb6965c9c22a55ace0f516577fb4e7.css" />
    <link rel="stylesheet" href="http://q.qunarzz.com/piao_tts/prd/styles/usage/www/page/home/v3/style@853f49a6f31d32b24fa9091193248576.css" />
    <link rel="shortcut icon" href="http://simg2.qunarzz.com/site/images/ico/favicon2.ico" />
    <script type="text/javascript">
        document.domain = 'qunar.com';
    </script>
</head>


<body class="mp-home-noside">
<!-- 访问“首页”时，给body添加样式名 mp-home-noside 隐藏侧栏 -->
<div class="mpm-topbar">
    <div class="mpg-section">
        <div class="mpm-topbar-bd">
            <strong class="welcome">
                <span class="mpg-gray">欢迎您</span>
                $!homeOutputDto.userName
            </strong>
	        <span style="display: none;" id="changeshopcontainer">
	        <span class="mpg-gray">|</span>
	        <a href="javascript:;" hidefocus="true" id="changeshop" class="mpg-gray">切换店铺</a>
		    </span>
            <span class="mpg-gray">|</span>
            <a href="javascript:;" hidefocus="true" id="account-bind-button" class="mpg-gray">账户绑定</a>
            <span class="mpg-gray">|</span>
            <a href="http://user.qunar.com/userinfo/modifyPassword.jsp" target="_blank" hidefocus="true" class="mpg-gray">修改密码</a>
            <span class="mpg-gray">|</span>
            #if(${homeOutputDto.canChangeRole}=="SUPPLIER")
                <a href="/home?role=supplier" hidefocus="true">跳转到供应商</a>
                <span class="mpg-gray">|</span>
            #elseif(${homeOutputDto.canChangeRole}=="DISTRIBUTOR")
                <a href="/home?role=distributor" hidefocus="true">跳转到分销商</a>
                <span class="mpg-gray">|</span>
            #end
            <a href="http://user.qunar.com/logout.jsp?ret=$!homeOutputDto.logoutRet" hidefocus="true" class="mpg-gray">退出</a>
            <span class="more">
                <a href="http://tb2cadmin.qunar.com/" target="_blank" hidefocus="true">度假后台</a>
                <span class="mpg-gray">|</span>
                <a href="http://piao.qunar.com/" target="_blank" hidefocus="true">门票首页</a>
                <span class="mpg-gray">|</span>
                <a href="http://wx.piao.qunar.com/" target="_blank" hidefocus="true" class="tuoshang">商家答疑平台</a>
                <span class="mpg-gray">|</span>
                <a href="http://tuoshang.piao.qunar.com/" target="_blank" hidefocus="true" class="tuoshang">驼商论坛</a>
                #if($!{permission} == "admin" || $!{permission} == "sadmin")
                    <span class="mpg-gray">|</span>
                    <a href="http://tuoshang.piao.qunar.com/forum.php?mod=forumdisplay&fid=45" target="_blank" hidefocus="true" class="tuoshang">内部沟通</a>
                #end
            </span>
        </div>

    </div>
</div>

$screen_content

<div class="mpm-foot">
    <p class="copyright">Qunar 版权所有 © 京ICP备05021087号</p>
</div>

<script src="http://q.qunarzz.com/jquery/prd/jquery-1.7.2.min.js" type="text/javascript" charset="utf-8"></script>
<script src="http://q.qunarzz.com/piao_tts/prd/scripts/base@ba2d4c123cb3074278981e0c8d9afcba.js" type="text/javascript" charset="utf-8"></script>
<script src="http://q.qunarzz.com/piao_tts/prd/scripts/cpanel/cpanel@b86a814a353d5f1ef0dc2fa2790e3245.js" type="text/javascript" charset="utf-8"></script>
<script src="http://q.qunarzz.com/piao_tts/prd/scripts/cpanel/framepage@6c3eeaf5125ea3f527fb0231d779dfa0.js" type="text/javascript" charset="utf-8"></script>

<script type="text/javascript">
window.framePage = new tts.cpanel.frame.FramePageInit();
framePage.init();
</script>
</body>
</html>
