<div class="shop-header">
    <div class="section clrfix">
        <div class="shop-owner">
            <div class="shop-owner-avata"><img src="${shopDetailDto.supplierLogo}" alt="${shopDetailDto.supplierShopName}"/><strong class="shop-owner-name">${shopDetailDto.supplierShopName}</strong></div>
            #if($stringUtilsTool.isNotBlank($!shopDetailDto.supplierTelephone))
                <div class="shop-owner-points">
                    <div class="txt-unit">服务评分：</div>
                    <div class="agent_star_level" title="${shopDetailDto.supplierScore}"><div class="scroe_wrap" style="width:${shopDetailDto.supplierScoreByHundred}%"><div class="score"></div></div></div>
                    <div class="txt-unit"><span class="txt-num">${shopDetailDto.supplierScore}</span>分</div>
                </div>
            #end
            #if($stringUtilsTool.isNotBlank($!shopDetailDto.supplierTelephone))
                <div class="shop-server-phone">
                    <span class="shop-icon shop-icon-phone"></span>
                    <span class="txt-unit">服务热线：</span>
                    <span class="txt-unit txt-num">${shopDetailDto.supplierTelephone}</span>
                </div>
            #end
            #if($stringUtilsTool.isNotBlank($!shopDetailDto.supplierBusinessHour))
                <div class="shop-server-time">
                    <span class="shop-icon shop-icon-time"></span>
                    <span class="txt-unit">工作时间：</span>
                    <span class="txt-unit txt-num">${shopDetailDto.supplierBusinessHour}</span>
                </div>
            #end
        </div>

        <div class="shop-search">
            <form method="" action="" class="search_box">
                <div class="search_keywords">
                    <input type="text" value="" id="keywords" />
                    <label class="i_search" for="keywords"></label>
                    <label class="search_notes" for="keywords"></label>
                </div>
                <input id="searchShop" type="submit" hidefocus="true" value="" class="search_btn search_shop" />
                <input id="searchName" type="submit" hidefocus="true" value="" class="search_btn search_sight" />
            </form>
        </div>

    </div>
</div>

