<!--
现付，出票成功，用户
-->
<smsContent>
    本产品由“#if(${straightSaleType}==2)【去哪儿直销】#elseif(${straightSaleType}==1)【景区官方直销】#{else}服务商${supplierShopName}#{end}”（${supplierTel}）为您提供服务。您购买的${orderQuantity}份【${productTitle}】已预订成功（订单号：${orderDisplayId}）。有效期：${orderUsedate}。#{if}(${soldOutDate}&&${soldOutDate}!="")部分日期不可使用，具体请查看订单详情。#{end}#{if}(${passMessageInfo}&&${passMessageInfo}!="")$!{passMessageInfo}。#{end}
</smsContent>
