尊敬的 携程测试五 先生/女士（登录用户：xm***t）：
您好！

您在携程旅行网上预订的 “订单中心_玩乐_预付yj”我们已为您成功确认。（订单号：2360002629），您的订单我们正在处理当中。以下是该产品的预订须知，请您仔细阅读。如您对此预订须知有任何疑义，可以致电携程（800-820-6666或1010-6666度假旅游）。

－－－－－－－－－－－－－－－－－－－－－－－－－－－－

出 境 旅 游 合 同（2013试用本）使用说明一、本合同文本为试用本，供旅游者参加出境旅游（不含赴台湾地区旅游）与旅行社签订团队出境旅游合同时使用。旅游者应选择具有合法经营出境旅游业务资格的旅行社。旅行社应具有旅游行政管理部门颁发的《旅行社业务经营许可证》和工商行政管理部门颁发的《营业执照》。
二、旅游前，旅行社应当与旅游者签订书面旅游合同，旅游者在交纳费用后，旅行社应开具发票。

三、旅游者应结合自身身体状况选择旅游产品及项目。

四、旅行社委托组团、拼团的，须事先告知旅游者并在本合同中载明。拼团，指出境社在保证所承诺的服务内容和标准不变的前提下，在签订合同时经旅游者同意，与其他出境社招徕的旅游者拼成一个团统一安排旅游服务的行为。

五、旅游者与旅行社通过互联网在线旅游网站签订合同的可使用本合同电子版。

六、在填写本合同第二条“行程与标准”和“旅游行程单”时，旅行社应以准确、明晰的语言表述，不得出现“准X星级”、“相当于X星级”“豪华”、“仅供参考”、“与××同级”等模糊不确定性用语。

七、旅游者有权自主选择旅游产品和服务，有权拒绝旅行社的强制交易行为。

八、旅行社在签订合同时应注明该旅游项目所包含的景点门票及住宿、餐饮、交通标准、导游服务等相关内容。

九、旅行社制定补充条款对本合同有关条款的内容进行补充、细化的，补充条款的内容不得减轻或者免除应当由旅行社承担的责任。

旅游咨询与投诉机构：
1、上海市旅游质量监督所地址： 中山西路2525号 邮编：200030
投诉电话：64393615、962020

2、上海市消费者申（投）诉举报中心
举报投诉电话：12315

3、上海市文化市场行政执法总队地址：永嘉路383号 邮编：200040
旅游违法违规举报电话：12318

　　　　　　　　　　　　　　　　　　　　　　　　　　　　　合同编号：____________

出境旅游合同

甲方（旅游者或旅游团体）：_______________________________________

乙方（旅行社）：______________________经营许可证编号：___________见下___________

经营范围：____________________见下____________________

根据《中华人民共和国合同法》、《中华人民共和国旅游法》、《旅行社条例》及其它有关法律法规的规定，双方在平等自愿、协商一致的基础上，签订本合同。

第一条 合同标的

旅游产品名称____________________________________________。

团号____________________________________。

组团方式 （三选一）

□自行组团

□委托组团（委托社全称_____________________________________）。

□拼 团（其他社全称_____________________________________）。

出发日期___________，出发地点___________。

途经地点（经停地点）_________________________________________。

目的地_______________________________________________________。

结束日期___________，返回地点________________________________。

第二条 行程与标准（乙方提供旅游行程单，须含下列要素）

景点名称和游览时间___________________________________________

_____________________________________________________________。

往返交通______________________，标准_________________________。

游览交通______________________，标准_________________________。

旅游者自由活动时间___________，次数__________________________。

住宿安排（名称）及标准和住宿天数_____________________________

_____________________________________________________________。

用餐次数___________，标准____________________________________。

地接社名称______________________，地址_______________________，

地接社联系人___________， 联系电话___________________________。

第三条 旅游者保险

乙方提示甲方购买旅游意外险。经乙方推荐，甲方___________（应填同意或不同意，打勾无效）委托乙方办理个人投保的旅游意外保险。

保险公司及产品名称：_________________________________________。

保险金额：___________元 ，保险费:______________________元。

第四条 旅游费用及其支付

甲方应交纳旅游费用___________元，大写___________元。

（含领队、导游服务费用___________元/人，合计_______________元）。

旅游费用交纳期限_______________________________________________。

旅游费用交纳方式 □现金；□支票；□信用卡；□其他______________。



感谢您对携程旅行网的大力支持。祝您旅途愉快！

您真挚的
万程（上海）旅行社有限公司
操作员号：
2016年02月29日