<div id="ordermenu" class="menu item on" style="display: block;">
    <h3 class="tree-node">门票订单</h3>
    <ul class="submenu">
        #if($shiro.hasPermission("order_list_consume") && (${homeOutputDto.canShowOrderConsumeTab}==true))
            <li><a target="frame" data-leaf="true" class="menu-item" href="/order/consume">快速验证</a></li>
        #end
        #if($shiro.hasPermission("order_list"))
            <li><a target="frame" data-leaf="true" class="menu-item on" href="/order/list">订单查询</a></li>
        #end
        #if($shiro.hasPermission("order_settlement_settlementUpload"))
            <li><a target="frame" data-leaf="true" class="menu-item" href="/order/settlementUpload">上传对账表</a></li>
        #end
        #if($shiro.hasPermission("order_settlement_settlementDownload") && !$stringUtilsTool.equals("distributor","$!{permission}"))
            <li><a target="frame" data-leaf="true" class="menu-item" href="/order/settlementDownload">结算对账表</a></li>
        #end
        #if($shiro.hasPermission("order_list_fax_hasBeenSendFaxList"))
            <li><a target="frame" data-leaf="true" class="menu-item" href="/order/fax/hasBeenSendFaxList">传真管理</a></li>
        #end
        #if($shiro.hasRole("qadmin")||$shiro.hasRole("sadmin"))
            <!--跟订单功能无关，先不拆分到权限，只拆分到角色-->
            <li><a target="frame" data-leaf="true" class="menu-item" href="/$!{permission}/settlement/monthFinancial">门票财务报表</a></li>
        #end
        #if($shiro.hasPermission("order_settlement_orderReportList"))
            <li><a target="frame" data-leaf="true" class="menu-item" href="/order/orderReportList">订单报表</a></li>
        #end
        #if($shiro.hasRole("qadmin")||$shiro.hasRole("sadmin"))
            <!--跟订单功能无关，先不拆分到权限，只拆分到角色-->
            <li><a target="frame" data-leaf="true" class="menu-item" href="/$!{permission}/cashpay/list">现付消费管理</a></li>
            <li><a target="frame" data-leaf="true" class="menu-item" href="/$!{permission}/cashPaySettle/list">现付结算管理</a></li>
        #elseif($stringUtilsTool.equals("supplier","$!{permission}"))
                <h3 class="tree-node">结算管理</h3>
                <ul class="submenu">
                    <li><a target="frame" data-leaf="true" class="menu-item"
                           href="/supplier/cashpay/list">现付账单管理</a>
                    </li>
                </ul>
        #end

        #if($shiro.hasRole("qadmin")||$shiro.hasRole("sadmin") || $stringUtilsTool.equals("supplier","$!{permission}"))
            <!--跟订单功能无关，先不拆分到权限，只拆分到角色-->
            <li><a target="frame" data-leaf="true" class="menu-item" href="/$!{permission}/prepayConsume/list">预付消费管理</a></li>
        #end

        #if($shiro.hasPermission("order_list_queryAuthorizedSights"))
            <li><a target="frame" data-leaf="true" class="menu-item" href="/order/queryAuthorizedSights">授权景区</a></li>
        #end
        #if($stringUtilsTool.equals("supplier","$!{permission}"))
            <li><a target="frame" data-leaf="true" class="menu-item" href="/$!{permission}/prePaySettle/list">预付结算管理</a></li>
        #end

        #if($shiro.hasRole("qadmin"))
            <!--diff商家与qunar的对账单-->
            <li><a target="frame" data-leaf="true" class="menu-item" href="/admin/settlement/uploadCheckAccountPage">diff对账报表</a></li>
        #end
    </ul>
</div>


