#if($!{dto.refundTag}==0)
<i class="i_dot_blue"></i>&nbsp;随心所欲,想退就退<br/>
#elseif($!{dto.refundTag}==1)
	#if($dto.refundPoundageType == "TICKET")
		#if(${dto.refundPoundage} != 0)<i class="i_dot_blue"></i>&nbsp;退款手续费<span style="color: #ff0073;">${dto.refundPoundage}</span>元/张 <br/> #end
	#elseif($dto.refundPoundageType == "ORDER")
		#if(${dto.refundPoundage} != 0)<i class="i_dot_blue"></i>&nbsp;退款手续费<span style="color: #ff0073;">${dto.refundPoundage}</span>元/单 <br/> #end
	#end
	#if( $stringUtilsTool.isNotBlank($!{dto.applyRefundTimeLimitTip}))
    	<i class="i_dot_blue"></i>&nbsp;$!{dto.applyRefundTimeLimitTip}<br/>
	#end
	#if($!{dto.supportPartRefund}==false)
    	<i class="i_dot_blue"></i>&nbsp;不支持部分退款 <br/>
	#end
#elseif($!{dto.refundTag}==2)
<i class="i_dot_blue"></i>&nbsp;不支持退款 <br/>
#end

#if( $stringUtilsTool.isNotBlank($!{dto.refundDescription}))
<i class="i_dot_blue"></i>&nbsp;退款说明：$!{dto.refundDescription}
#end



